/*remove_production*/
:root {
  --body-base-size: 62.5%;
  --font-heading: 'Rubik', sans-serif;
  --heading-size-h1: 60px;
  --heading-size-h2: 45px;
  --heading-size-h3: 35px;
  --heading-size-h4: 24px;
  --heading-size-h5: 20px;
  --heading-size-h6: 14px;
  --heading-1-weight: 400;
  --heading-2-weight: 400;
  --heading-3-weight: 600;
  --heading-4-weight: 400;
  --heading-5-weight: 400;
  --heading-6-weight: 400;
  --header-bg-desk: #ffffff;
  --header-text-color-desk: #002E25;
  --icon-number-color: #ffffff;
  --bg-cart-number: #509879;
  --header-bg-mobile: #0C3E34;
  --header-text-color-mobile: #F5F5F5;
  --body-font-family: 'Rubik', sans-serif;
  --body-font-size:  14px;
  --body-font-weight: 400;
  --main-color: #002E25;
  --main-text-color: #fff;
  --main-color-rgba: 16, 49, 120;
  --body-border-color: #E0E1E3;
  --text-miscellaneous: #ffffff;
  --miscellaneous-color: #ffffff;
  --body-bg-color: #fff;
  --body-color: #42474C;
  --body-second-color: #a9a9a9;
  --body-link: #1E1F21;
  --border-radius-default: 999;

  --sale-lb-cl: #fff;
  --sale-lb-bgcl: #fdb819;
  --hot-lb-cl: #fff;
  --hot-lb-bgcl: #F00000;
  --new-lb-cl: #fff;
  --new-lb-bgcl: #12A05C;

  --section-heading-cl: #002E25;
  --section-heading-fw: 600;        
  --section-subheading-cl: #002E25;        
  --section-subheading-fw: 400;   

  --btn1-fw: 600;
  --btn1-cl: #0c3e34;
  --btn1-bg-cl: #ffffff;
  --btn1-hover-cl: #fff;
  --btn1-hover-bg-cl: #12a05c;
  --btn1-border-width: 0px;
  --btn1-border-cl:transparent;
  --btn1-hover-border-cl: transparent;

  --btn2-fw: 600;
  --btn2-cl: #fff;
  --btn2-bg-cl: #509879;
  --btn2-hover-cl: #fff;
  --btn2-hover-bg-cl: #002E25;
  --btn2-border-width: 0px;
  --btn2-border-cl: transparent;
  --btn2-hover-border-cl: transparent;

  --btn3-fw: 600;
  --btn3-cl: #fff;
  --btn3-bg-cl: 509879;
  --btn3-hover-cl: #fff;
  --btn3-hover-bg-cl: #12A05C;
  --btn3-border-width: 1px;
  --btn3-border-cl: transparent;
  --btn3-hover-border-cl: transparent;

  --price-color: #b44022;
  --price-compare-color: #222;
  --price-sale-color: #222;
  --rating-star-color: #FF9923;
  --rating-star-empty-color: #9BABCD;
  --footer-bg: #0C3E34;
  --footer-text-cl: #f5f5f5;
  --bg-white: #ffffff;

  --product-item-name: 17px;
  --product-item-price: 25px;

  --body-14: 14px;

  --gutter-xlg: 40px;
  --gutter-lg: 30px;
  --gutter-md: 25px;
  --gutter-sm: 20px;
  --gutter-xs: 15px;
  --gutter-xxs: 10px;

}

/*end_remove_production*/ 
