.section-featured-collections {
	.collection-list {
		.collection-item {
			.collection-title {				
				font-size: calc(var(--heading-size-h4) - 1px);				
				font-weight: 700;
				text-align: center;
				@extend %transition;
				@media (max-width: 1024px) {
					position: static;
					line-height: 1.1;
					color: var(--body-color);
					padding: 5px 0 0;				
				}
				@media (min-width: 1025px) {
					font-size: var(--heading-size-h3);
					background: rgba(68, 195, 191, 0.4);				
					color: var(--main-text-color);										
					height: 50%;					
					@include visibility-hidden;
				}				
			}	
			&:hover {
				@media (hover : hover) {
					.collection-title {
						@include visibility-visible;
						height: 100%;
					}
				}
			}		
		}
	}
}