.section-instagram-custom {
	overflow: hidden;
	.featured-images {		
		width: 100%;
		margin: 0 auto;
		padding: 0 15px 56px;
		.title {
			padding-bottom: 37px;
			font-size: var(--heading-size-h2);
			font-weight: var(--heading-2-weight);
			line-height: 46px;
			text-transform: uppercase;
		}
	}
	.featured-image_item {
		.text-center {
			display: block;
			padding-top: 12px;
		}
	}
	.instafeed-custom-container {			
		@media (max-width: 767px) {
			padding: 0 15px;
		}
		.title {
			font-size: var(--heading-size-h4);
			font-weight: var(--heading-2-weight);			
			color: var(--main-color);
			margin: 0 auto 20px;			
			@media (min-width: 768px) {
				margin-bottom: 30px;
				font-size: var(--heading-size-h2);
			}
		}
		.btn { 
			margin-top: 25px;
			height: 53px;
			min-width: 270px;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 2.5px;
			line-height: 30px;
			padding: 11px 20px;
		}	
		> a {
			font-size: var(--heading-size-h5);
			font-weight: 700;
			svg {
				margin-left: 7px;
			}
			@media (min-width: 768px) {
				font-size: var(--heading-size-h3);				
				svg {
					margin-left: 11px;
				}
			}
		}	
	}
	.modal_box {
		max-width: 650px;
		padding: 0;
		.modal_content {
			padding: 0;
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			height: 0;
		}
		iframe {
			@include ab(0,0,n,n);
			width: 100%;
			height: 100%;
		}
		@media (min-width: 768px) {
			overflow-y: visible;
		}
	}
	@media (max-width: 991px) {
		background-image: unset !important;
	}
	@media (min-width: 992px) {
		.featured-images_wrapper {
			max-width: 700px;
			margin-left: auto;
		}
		.featured-images {
			.title {
				padding-bottom: 41px;
			}
		}
		.instafeed-custom-container {
			.btn {
				margin-top: 33px;
			}			
		}
	}
}
#insta-feed {
    margin-left: -7.5px !important;
    margin-right: -7.5px !important;
    width: auto !important;
    margin-top: 0 !important;
    @media (min-width: 768px) {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
    h2 {
        font-family: var(--ff-heading) !important;    
        margin-bottom: 40px !important;
    }
    .instafeed-container {
        padding-left: 15px !important;
        padding-right: 15px !important;
        @media (min-width: 768px) {
            padding-left: 7.5px !important;
            padding-right: 7.5px !important;
        }
		@media (max-width: 767px) {
			width: 50% !important; 
			padding-top: 50% !important;
		}
        img,
        .instafeed-overlay {
            width: calc(100% - 15px) !important;
            height: calc(100% - 15px) !important;
            left: 7.5px !important;
            right: 7.5px !important;
            @media (min-width: 768px) {
                width: calc(100% - 30px) !important;
                height: calc(100% - 30px) !important;
                left: 15px !important;
                right: 15px !important;
            }
        }         
    }
}
