.product-template {
	position: relative;
	.stamped-badge-caption {
		display: block;		
	}
	.stamped-badge-caption[data-rating="0.0"] {
		display: none;
	}	
	.stamped-badge {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}	
	.stamped-starrating {
		display: flex;
		i {
			display: flex;
		}
	}
	.stamped-badge-caption {
		font-weight: 400;
		font-size: calc(var(--body-font-size) - 3px);
		font-family: var(--ff-body);
		color: var(--rating-star-color);
		padding: 0 0 0 15px;
	}
	.product-label {
		.label_ui {
			padding: 5px 10px 6px;
			min-width: 80px;
			margin-bottom: 7px;
			display: block;
			text-align: center;
			font-size: 13px;
			text-transform: uppercase;
		}
		.label_ui-hot {
			color: var(--hot-lb-cl);
			background: var(--hot-lb-bgcl);
		}
		.label_ui-new {
			color: var(--new-lb-cl);
			background: var(--new-lb-bgcl);
		}
		.label_ui-sale {
			color: var(--sale-lb-cl);
			background: var(--sale-lb-bgcl);
		}
	}
	.product-details {
		margin-bottom: 45px;
		@media (min-width: 768px) {
			margin-bottom: 80px;
		}		
		.d-grid-details {
			@media (min-width: 992px) {
				grid-gap: 30px;
				grid-template-columns: minmax(52%,52%) 1fr;
			}		
		}
	}	
	.product-media {
		display: grid;
		@media (min-width: 992px) {
			grid-template-columns: minmax(92px,92px) 1fr;
			grid-gap: 30px;
		}
	}
	.product-title {
		font-size: var(--heading-size-h3);		
		font-weight: 700;
		color: var(--main-color);
		line-height: 1.2;
		margin-bottom: 10px;
		@media (min-width: 768px) {
			font-size: var(--heading-size-h2);		
		}
		@media (max-width: 767px) {
			text-align: center;
			width: 100%;
		}
		+ .add-to-wishlist {
			margin-left: 10px;
		}
	}
	.product-price {
		font-size: var(--heading-size-h3);	
		font-weight: 700;	
		@media (max-width: 767px) {
			margin-bottom: 12px;
		}			
	}
	.left-content, .right-content {		
		@media (min-width: 768px) {
			padding-top: 80px;
		}
	}
	.right-content {		
		@media (min-width: 768px) and (max-width: 991px) {
			margin-left: auto;
			margin-right: auto;
		}
		@media (max-width: 767px) {
			> .d-flex {
				flex-direction: column;
				> * {
					display: flex;
					justify-content: center;
					align-items: center;
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
			text-align: center;		
			margin-top: 14px;
		}
		@media (min-width: 768px) {
			// max-width: 560px;
			margin-left: auto;
			margin-right: auto;
			width: 100%;

		}
	}
	.product-media_thumbnails {
		flex: 0 0 100%;
		order: 2;
		position: relative;
		@media (min-width: 992px) {
			order: unset;
			.js-slider-list {
				margin: -5px;
				.media-item {
					padding: 5px;
				}
			}
		}
		.js-slider-list {
			margin: 0 -3px;
			.media-item {
				padding: 0 3px;
				@media (max-width: 767px) {
					margin-bottom: 0 !important;
				}
				&.tns-nav-active {
					img {
						box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
					}
				}
			}
			img {
				border: 1px solid rgba(0, 0, 0, 0.3);
			}
		}
		.tns-inner {
			@media (max-width: 767px) {
				// display: flex;
				// justify-content: center;
			}
		}
	}
	.product-media_main {
		flex: 0 0 100%;
		margin-bottom: 15px;
		position: relative;
		.product-label {
			top: 24px;
			display: flex;
		}
		#slider-main-media {
			@media (max-width: 767px) {
				margin-left: -15px;
				margin-right: -15px;
			}
		}
	}		
	.btn-add-to-cart {
		width: 100%;		
	}		
	.js-tns-controls {
		display: none;
		@media (min-width: 992px) {
			display: block;
		}
		a {
			@include ab(n,50%,n,n);
			background: var(--text-miscellaneous);
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: -15px;
			z-index: layer(js-tns-controls);
			box-shadow: 2px 2px 6px #b7b6b6;
			svg {
				width: 13px;
				height: 13px;
			}
		}
		.js-prev-btn {
			top: -15px;
		}
	}	
}
.product_short-desc {
	margin: 12px 0;
	p {
		margin: 0;
	}
}
.product-swatch {
	text-transform: uppercase;	
	margin: 20px 0 23px;	
	@include letter-spacing;
	@include font-14;
	.swatch-title {		
		margin-bottom: 14px;
		@media (min-width: 768px) {
			margin-bottom: 8px;
		}
	}
	.swatch-group {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	.swatch-select {
		display: grid;
		gap: 8px 12px;
		grid-template-columns: repeat(2, 1fr);
		@media (min-width: 768px){
			grid-template-columns: repeat(3, 1fr);
			gap: 6px;
		}
		.input-group {
			margin: 0;			
			input {
				display: none;
			}
			label {
				padding: 12px 10px;
				border: 2px solid var(--body-link);
				text-align: center;
				font-size: inherit;
				color: var(--body-link);
				line-height: 20px;
				cursor: pointer;
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				white-space: break-spaces;
				user-select: none;
				@extend %transition;
			}
			input:checked + label {
				background: var(--body-link);
				color: var(--text-miscellaneous);
				pointer-events: none;				
			}
			&.disabled {
				label {
					background: #fff !important;
					border-color: #bdbdbd !important;
					color: #bdbdbd !important;
					position: relative;
					&:after {
						content: "";
						background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1' preserveAspectRatio='none' stroke='%23959595'%3E%3Cpath d='M0 1l1-1' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E") 0/100% 100% no-repeat;
						transform: rotateY(160deg);						
						@include ab(0, 0, 0, 0);
					}
				}
			}
		}
	}
}
.klaviyo-text-variant {	
	text-transform: uppercase;
	@include letter-spacing;
	@include font-14;
	margin-bottom: 14px;
	@media (min-width: 768px) {
		margin-bottom: 8px;
	}
}
.klaviyo-bis-trigger {
	padding-top: 14px;
	padding-bottom: 14px;
}
.product-quantity-wrapper {
	margin-top: 16px;
	margin-bottom: 20px;
	.product-field-title {
		@include font-14;
		@include letter-spacing;
		text-transform: uppercase;
		line-height: 20px;
		margin-bottom: 5px;
	}
	.product-quantity {
		width: 143px;
		position: relative;
		border-bottom: 2px solid var(--body-link);
		display: flex;		
		color: #000;		
		background: #fff;	
		@media (max-width: 767px) {
			margin-left: auto;
			margin-right: auto;
		}
		input {
			border: none;
			height: 40px;
			padding: 5px 10px;
			text-align: center;
			font-weight: 400;
			color: inherit;		
			font-size: var(--body-font-size);;
			appearance: none;
			-moz-appearance: textfield;
			@include placeholder {
				color: #000;
			}
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 30px;
			max-width: 30px;
			color: inherit;		
			svg {
				width: 12px;
			}	
		}
	}
}
.sealsubs-target-element {
	.sls-purchase-options-label {
		margin-bottom: 14px;
		text-transform: uppercase;
		color: var(--body-color);
		text-align: center;
		display: block;
		@include letter-spacing;
		@include font-14;
		@media (min-width: 768px) {
			margin-bottom: 8px;
			text-align: left;
		}
	}
}
[data-product] .sls-purchase-options-container {
	border: none !important;
	border-radius: 0 !important;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
	@media (min-width: 768px) {
		margin-left: -6px;
		margin-right: -6px;
	}
	> div {
		padding: 0 5px 5px !important;
		border: none !important;
		display: flex;
		align-items: flex-start;
		flex: 0 0 50%;
		max-width: 50%;		
		@media (min-width: 768px) {
			padding-left: 6px !important;
			padding-right: 6px !important;
			padding-bottom: 6px !important;
			flex: 1;
		}
		.sls-price {
			color: inherit;
		}	
		.sls-selling-plan-description-content {
			color: inherit;
			text-align: center;
			line-height: 1.2;
			font-weight: 400;
			@include font-14;			
		}
		.sls-selling-plan-group-options {
			flex-direction: column;
			margin: 10px 0;
			// display: none;
			> div {
				text-align: center;
			}
			label {
				@include font-14;			
			}
		}	
		.sls-select-container select.sls-select {			
			height: 38px;
			line-height: 36px;
			padding-top: 0;
			padding-bottom: 0;	
			font-weight: 400;
			@include font-14;			

		}
		&.sls-active {
			.seal-row {
				background: var(--main-color);
				border-color: var(--main-color);
				color: var(--text-miscellaneous);
			}			
		}
	}
	.seal-row {		
		padding: 10px 15px;
		border: 2px solid var(--main-color);						
		color: var(--main-color);
		display: flex;		
		// align-items: center;
		// height: 100%;
		width: 100%;
		min-height: 77px;
		@media (min-width: 768px) {
			min-height: 70px;
		}
		.sls-label-container {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		.seal-col:not(.sls-label-container) {
			display: none;
		}
		.sls-selling-plan-group-first-line {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			letter-spacing: 1.5px;	
			line-height: 1;
			@include font-14;
			label {
				font-size: inherit;
				font-weight: inherit;
				text-transform: inherit;
				letter-spacing: inherit;
				line-height: 1;
				margin-bottom: 3px;
				text-align: center;
			}
		}
	}
}
.sealsubs-container {
	margin: 0 0 9px !important;
	@media (min-width: 768px) {
		margin-bottom: 4px !important;
	}
	&.sls-hide {
		display: none;
		.sls-purchase-options-container .seal-row {
			background: #bdbdbd !important;
			color: #fff !important;
			border-color: #bdbdbd !important;
		}
	}
}
.product-form {
	margin: 23px 0 0;
	.rc-container {
		margin-bottom: 10px;
	}
	.rc-option {
		text-transform: uppercase;
		letter-spacing: 1.5px;	
		@include font-14;
		.rc-title {
			font-size: inherit;
			margin-bottom: 14px;
			@media (min-width: 768px) {
				margin-bottom: 8px;
			}
		}
		.rc-template__legacy-radio {
			display: grid;
			gap: 12px;
			grid-template-columns: calc(50% - (12px * 1/2)) calc(50% - (12px * 1/2));
			.rc-radio {
				padding: 0;
				display: flex;
				flex-direction: column;
				height: 100%;
				.rc_widget__option__selector {
					width: 100%;
					height: 100%;
				}
			}
			.rc-option--active {
				background: none;
			}
			.rc-radio__input {
				display: none;
			}
			.rc-radio__label {
				padding: 12px 15px;
				border: 2px solid var(--body-link);				
				font-size: inherit;
				color: var(--body-link);
				line-height: 20px;
				cursor: pointer;
				margin: 0;
				display: flex;			
				flex-wrap: wrap;				
				align-items: center;
				justify-content: center;
				text-align: center;
				height: 100%;
				width: 100%;				
				white-space: break-spaces;
				@include font-14;
				@extend %transition;				
				.rc-option__price {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
			.rc-radio__input:checked + .rc-radio__label {
				background: var(--body-link);
				color: var(--text-miscellaneous);
			}
		}
		.rc_popup,
		.rc-selling-plans {
			display: none !important;
		}
	}
}
.product-meta-list {
	list-style: none;
	margin: 13px 0 0;
	@media (min-width: 768px) {
		margin-top: 22px;
	}
	li {		
		color: var(--main-color);
		padding: 8px 0;
		text-align: left;
		a, .item {
			color: inherit;
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
		.svg-element-ui {		
			margin-right: 8px;
		}		
	}
}
.product-description {
	text-align: center;
	@media (max-width: 767px) {
		display: none;
	}
	.product_tab-contorls {
		margin-top: 68px;
		overflow: hidden;
		overflow-x: auto;		
		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			list-style-type: none;
			@media (max-width: 767px) {
				flex-direction: column;
			}
			li {
				margin: 0 50px 30px;
				font-size: var(--heading-size-h4);
				position: relative;
				line-height: 1.5;
				cursor: pointer;
				white-space: nowrap;
				@media (min-width: 768px) {
					margin-bottom: 0;
				}
				&:after {
					content: '';
					height: 4px;				
					@include ab(n, 0, -10px, 0);
				}
				&.active {
					color: var(--body-link);
					&:after {
						background: var(--body-link);
					}
				}
			}
		}	
	}
	.product_tab-contents {
		max-width: 1100px;	
		margin: 0 auto;			
		.tab-contents {			
			position: relative;			
			margin: 45px auto 0;
			&:empty {
				display: none;
			}
		}		
		.tab-contents_item {
			background: var(--text-miscellaneous);			
			padding: 5%;
			width: 100%;			
			margin: 0 auto;			
			z-index: -1;
			opacity: 0;
			transform: translateX(-50%);
			@include ab(0, 50%, n, n);	
			@media (min-width: 768px) {
				padding: 55px;
			}
			> * {
				max-width: 770px;
				margin-left: auto;
				margin-right: auto;
			}
			&#product_description_tab_recipes {
				> * {
					max-width: 100%;
				}
				@media (min-width: 768px) {
					padding: 40px 30px 34px;
				}				
			}
			.faq-item {
				max-width: 670px;
				margin-left: auto;
				margin-right: auto;
			}
			&.active {
				opacity: 1;
				z-index: 1;
				position: static;
				transform: translateX(0%);
			}
		}
		@include faqs;
	}
}
.item-wrapper {
	.item {
		&:not(:last-child) {
			@media (max-width: 767px) {
				margin-bottom: 30px;
			}
		}
		.image__style {
			margin-bottom: 12px;
		}
		a {
			color: var(--main-color);
			font-size: var(--heading-size-h4);
		}
	}
}	
.video-content {
	position: relative;
	max-width: 720px;
	padding-top: 57.74%;
	margin: 0 auto;
	video {		
		height: 100%;	
		width: 100%;			
		@include ab(0, 0, n, n);
	}
}			
.recipes-button {		
	margin-top: 30px;								
	.btn {
		padding: 10px 35px;
		display: inline-flex;	
		align-items: center;				
		height: 68px;
		border: 2px solid var(--body-link);			
	}							
}
.product_accordions-contents {
	margin: 48px 0;	
	@media (min-width: 768px) {
		display: none;
	}
	.accordions-item {
		> .question {		
			position: relative;	
			padding-right: 30px;
			&:not(:last-child) {
				margin-bottom: 14px;
			}
			.svg-icon {
				@include ab(0, n, n, 0);
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				.svg-angle-down {
					transition: all 0.35s ease-in-out 0s;
				}
				.svg-angle-up {
					display: none;
				}
			}
			.question-content {				
				font-size: var(--heading-size-h4);
				position: relative;
				line-height: 1.5;								
				display: inline-block;			
				&:after {
					content: '';
					height: 4px;				
					transition: all 0.35s ease-in-out 0s;
					@include ab(n, 0, -10px, n);
				}				
			}
		}
		> .answer {
			margin: 0 -15px;
			max-height: 0;
			visibility: hidden;
			transition: max-height .15s ease-in-out;
			> .answer-wrapper {
				background: var(--text-miscellaneous);
				padding: 25px 15px;
				text-align: center;
				margin: 26px 0 30px;
			}
		}		
		&.active {
			> .question {
				.question-content {
					color: var(--body-link);
					&:after {
						background: var(--body-link);
						right: 0;
					}					
				}
				.svg-icon {
					.svg-angle-down {
						transform: rotate(180deg);
						path {
							stroke: var(--body-link);
						}
					}
				}
			}	
			> .answer {
				max-height: 100%;
				visibility: visible;
				transition: max-height .35s ease-in-out;
			}		
			@include faqs;
		}		
	}
}
.section-paragraph-image {
	margin-bottom: 55px;
	@media (min-width: 768px) {
		margin-bottom: 88px;
	}	
	.section-body {
		> div {
			align-items: center;
		}
	}
	.textbox {
		padding: 0 15px;				
		.textbox-inner {
			max-width: 690px;	
			margin-left: auto;	
			padding: 55px 0;	
			&:empty {
				display: none;
			}		
			> * {
				max-width: 570px;
			}
			@media (max-width: 991px) {
				margin-right: auto;		
			}			
		}		
	}
	.image {
		@media (min-width: 992px) {
			position: relative;
			height: 100%;
			overflow: hidden;
			img {
				@include ab(0, 0, n, n);
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}		
	}
	.paragraph-head {
		color: var(--main-color);		
		margin-bottom: 2px;
	}
	.paragraph-subhead {
		font-size: var(--heading-size-h4);
		margin-bottom: 8px;
	}
	.paragraph-diff {
		list-style: none;
		line-height: 1.65;
		padding-left: 20px;
		li {
			position: relative;
			display: flex;
			&:before {
				content: '';
				height: 6px;
				width: 6px;
				flex: 0 0 6px;
				max-width: 6px;
				border-radius: 50%;
				margin: 12px 15px 0 0;
				background: var(--body-color);
			}
		}
	}
}
.section-shop-bundles {
	margin-bottom: 55px;
	@media (min-width: 768px) {
		margin-bottom: 110px;
	}	
}
.section-product-stories {
	margin-bottom: 45px;
	@media (min-width: 768px) {
		margin-bottom: 96px;
	}	
	.product-stories_list {
		@media (max-width: 767px) {
			margin: 0;
		}
	}
}
.product-stories_item {
	.section-header .section-heading {
		padding-left: 15px;
		padding-right: 15px;
	}
	@media (max-width: 767px) {
		padding: 0;
		&:not(:last-child) {			
			border-bottom: 1px solid var(--body-color);		
			&.active {
				.collapse-container {
					padding-bottom: 25px;
				}			
			}	
		}
	}
	.btn-collapse {
		display: flex;
		justify-content: space-between;		
		.name {
			margin: 0;
			padding: 16px 0;
		}
		.svg-angle-up {
			display: none;
		}
		> div {			
			width: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.collapse-container {
		@media (max-width: 767px) {
			max-height: 0;
			visibility: hidden;
			transition: max-height .15s ease-in-out;
			text-align: left;

		}
	}
	.image {
		margin-bottom: 23px;
		display: none;
		@media (min-width: 768px) {
			margin-bottom: 26px;
			display: block;
		}
	}
	.name {		
		margin-bottom: 4px;	
		font-weight: 700;
		line-height: 1.2;		
		font-size: var(--heading-size-h4);	
		@media (min-width: 768px) {
			margin-bottom: 14px;
			font-size: var(--heading-size-h3);
			color: var(--main-color);
		}
	}
	p {
		margin: 0;
	}	
	@media (max-width: 767px) {
		padding-left: 0;
		padding-right: 0;				
	}
	&.active {
		.btn-collapse {
			.svg-angle-down {
				display: none;
			}
			.svg-angle-up {
				display: block;
			}
		}
		.collapse-container {
			@media (max-width: 767px) {
				max-height: 100%;
				visibility: visible;
				transition: max-height .35s ease-in-out;
	
			}
		}
	}
}	
.review-wrpper {
	margin-bottom: 20px;
	@media (min-width: 768px) {
		margin-bottom: 65px;
	}
}
#stamped-main-widget {
	margin: 0 !important;
}
.stamped-container {
	font-family: var(--ff-body);	
	input.stamped-form-input-email, input.stamped-form-input-text,
	textarea.stamped-form-input-textarea {
		padding: 12px 24px;   
  		border: 2px solid var(--main-color);
		font-size: calc(var(--body-font-size) + 2px);  
		text-transform: inherit;
	}
	.stamped-form-label {
		@include font-14;
		@include letter-spacing;
		text-transform: uppercase;
		color: var(--body-color);
		+ .stamped-form-input {
			margin-bottom: 20px;
		}
	}
	#stamped-button-submit, 
	input.stamped-button.stamped-button-primary.button.button-primary.btn.btn-primary {
		font-weight: var(--btn1-fw);
		color: var(--btn1-cl);
		background: var(--btn1-bg-cl);
		border: var(--btn1-border-width) solid var(--btn1-border-cl);
		transition: all 0.35s ease-in-out 0s;		
		padding: 10px 40px;
		&:hover {
			@media (hover:hover) {      
			color: var(--btn1-hover-cl);
			background: var(--btn1-hover-bg-cl);
			border-color: var(--btn1-hover-border-cl);
			}
		}
	}
}
.section-product-related {
	margin-bottom: 35px;
	@media (min-width: 768px) {
		margin-bottom: 120px;
	}
}
.section-product-related,
.section-shop-bundles {
	.container {
		@media (max-width: 767px) {
			padding-right: 0;
			.section-header .section-heading {
				padding-left: 15px;
			}
		}
	}
}
.js-slider-list.slider-list.media-thumbnails.fix-media-thumbnails {
	@media (max-width: 767px) {
		margin: 0 auto !important;
		text-align: center;
	}
}
/* Bundle Product */
.template-product-bundle {
	background: #fff;
	#header {
		box-shadow: 0 0 1px rgba(0, 0, 0, .2);
	}
}
.product-bundle-template {
	.product-template_wrapper {		
		border-bottom: 1px solid #E8E8E1;
		overflow: hidden;
	}
	.right-content {
		.product-title-wrapper {
			.product-title {
				// font-weight: 400;
				// color: #505050;
				// font-size: 30px;	
				// line-height: 1.3;
				// margin-bottom: 26px;			
			}
			.bundle-text {
				line-height: 1;
				font-size: 12px;
				letter-spacing: 1.5px;
				text-transform: uppercase;
				font-weight: 700;
				margin-bottom: 11px;
				color: var(--main-color);
			}
			.bundle-qty-title {
				font-size: calc(var(--body-font-size) - 2px);
				font-weight: 400;
				line-height: 24px;				
				li {
					display: flex;
					justify-content: center;					
					&:before {
						content: '';
						background: currentColor;
						max-width: 4px;
						height: 4px;
						flex: 0 0 4px;
						border-radius: 50%;
						margin: 10px 7px 0 0;
					}
				}
			}
			.bundle-text,
			.bundle-qty-title {
				max-width: 80%;
				margin-left: auto;
				margin-right: auto;
			}
		}	
	}
	.left-content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0 -5px;
		@media (max-width: 475px) {
			flex-direction: column;		
		}
		.product-bundle-item {
			flex: 0 0 330px;
			max-width: 330px;			
			margin: 5px;			
			display: flex;
			flex-direction: column;
			justify-content: center;			
			@media (max-width: 475px) {
				width: 100%;
			}			
			@media (min-width: 476px) and (max-width: 767px) {
				flex: 0 0 calc(50% -10px);
				max-width: calc(50% -10px);
			}
			.product-image-wrapper {	
				text-align: center;	
				font-size: calc(var(--body-font-size) - 2px);		
				border: 1px solid rgba(198, 198, 198, 0.55);
				padding: 6px;
				.block-image {
					position: relative;	
					margin-bottom: 8px;	
					letter-spacing: 0.4px;
					line-height: 24px;				
					.qty-label {
						@include ab( 5px, 5px, n , n);
						border-radius: 50%;
						width: 28px;
						height: 28px;
						font-size: 13px;
						letter-spacing: 1.5px;
						display: flex;
						align-items: center;
						justify-content: center;
						background: #D0EEEE;
					}
				}
				.product-price {
					justify-content: center;
					line-height: inherit;
					font-size: inherit;
					color: #788188;
					margin: 12px auto 9px;
				}				
				.p-title {
					// font-size: inherit;
					// line-height: inherit;
					// font-weight: 400;
					// line-height: 24px;					
				}				
			}
			.product-form {
				margin-top: 30px;	
				margin-bottom: -5px;
				margin-left: calc(-1 * calc(100vw - 100%) / 2);
				margin-right: calc(-1 * calc(100vw - 100%) / 2);
				@media (min-width: 476px) and (max-width: 767px) {
					margin-left: calc(-1 * calc(100vw - 50%) / 2);
					margin-right: calc(-1 * calc(100vw - 50%) / 2);
				}	
				@media (min-width: 768px) {
					margin-left: calc(-1 * calc(100vw - 330px) / 2);
					margin-right: calc(-1 * calc(100vw - 330px) / 2);
				}
				> div {
					padding-left: 15px;
					padding-right: 15px;
					max-width: 485px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		.icon-plus {
			width: 38px;
			height: 38px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #D0EEEE;
			position: relative;
			z-index: 1;
			margin: 0 -19px;			
			@media (max-width: 475px) {
				margin: -19px 0;
			}
		}
	}
	.left-content {
		padding-top: 34px;
	}
	.bundle-product-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 30px;			
	}
	.form-add-to-card,
	.bundle-btn {
		max-width: 445px;
		width: 100%;
		margin-top: 11px;
		margin-left: auto;
		margin-right: auto;		
		.btn {
			padding: 9px;
			font-size: (var(--body-font-size) - 4px);
			width: 100%;
			&.btn-sould-out {
				pointer-events: none;
				background: #bdbdbd;
    			color: #fff;
				user-select: none;
			}
		}
	}	
	.thsb_subscription_price_update {
		text-decoration: line-through;
		font-weight: 600;
	}
	.discount-text {
		margin-top: 14px;
		font-weight: 400;
		font-size: 12px;
		line-height: 20px;
		flex: 0 0 100%;
		max-width: 100%;
		text-align: center;
	}
	.product-price,
	.bundle-total-price {
		font-size: 20px;
		line-height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #505050;		
		.text {
			margin-right: 5px;
		}
		.product-price {
			color: #788188;
			margin: 0;
		}
	}
}