.product-template {
	position: relative;
	.stamped-badge-caption {
		display: block;		
	}
	.stamped-badge-caption[data-rating="0.0"] {
		display: none;
	}	
	.stamped-badge {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}	
	.stamped-starrating {
		display: flex;
		i {
			display: flex;
		}
	}
	.stamped-badge-caption {
		font-weight: 400;
		font-size: calc(var(--body-font-size) - 3px);
		font-family: var(--ff-body);
		color: var(--rating-star-color);
		padding: 0 0 0 15px;
	}
	.product-label {
		.label_ui {
			padding: 5px 10px 6px;
			min-width: 80px;
			margin-bottom: 7px;
			display: block;
			text-align: center;
			font-size: 13px;
			text-transform: uppercase;
		}
		.label_ui-hot {
			color: var(--hot-lb-cl);
			background: var(--hot-lb-bgcl);
		}
		.label_ui-new {
			color: var(--new-lb-cl);
			background: var(--new-lb-bgcl);
		}
		.label_ui-sale {
			color: var(--sale-lb-cl);
			background: var(--sale-lb-bgcl);
		}
	}
	.product-details {
		margin-bottom: 45px;
		@media (min-width: 768px) {
			margin-bottom: 80px;
		}		
		.d-grid {
			@media (min-width: 992px) {
				grid-gap: 30px;
				grid-template-columns: minmax(52%,52%) 1fr;
			}		
		}
	}	
	.product-media {
		display: grid;
		@media (min-width: 992px) {
			grid-template-columns: minmax(92px,92px) 1fr;
			grid-gap: 30px;
		}
	}
	.product-title {
		font-size: var(--heading-size-h3);		
		font-weight: 700;
		color: var(--main-color);
		line-height: 1.2;
		margin-bottom: 10px;
		@media (min-width: 768px) {
			font-size: var(--heading-size-h2);		
		}
		+ .add-to-wishlist {
			margin-left: 10px;
		}
	}
	.product-price {
		font-size: var(--heading-size-h3);	
		font-weight: 700;				
	}
	.left-content, .right-content {		
		@media (min-width: 768px) {
			padding-top: 80px;
		}
	}
	.right-content {
		max-width: 560px;
		@media (min-width: 768px) and (max-width: 991px) {
			margin-left: auto;
			margin-right: auto;
		}
		@media (max-width: 767px) {
			text-align: center;
			margin-top: 14px;
		}
	}
	.product-media_thumbnails {
		flex: 0 0 100%;
		order: 2;
		position: relative;
		@media (min-width: 992px) {
			order: unset;
			.js-slider-list {
				margin: -5px;
				.media-item {
					padding: 5px;
				}
			}
		}
		.js-slider-list {
			margin: 0 -3px;
			.media-item {
				padding: 0 3px;
				&.tns-nav-active {
					img {
						box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
					}
				}
			}
			img {
				border: 1px solid rgba(0, 0, 0, 0.3);
			}
		}
	}
	.product-media_main {
		flex: 0 0 100%;
		margin-bottom: 15px;
		position: relative;
	}		
	.btn-add-to-cart {
		width: 100%;		
	}		
	.js-tns-controls {
		display: none;
		@media (min-width: 992px) {
			display: block;
		}
		a {
			@include ab(n,50%,n,n);
			background: var(--text-miscellaneous);
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: -15px;
			z-index: layer(js-tns-controls);
			box-shadow: 2px 2px 6px #b7b6b6;
			svg {
				width: 13px;
				height: 13px;
			}
		}
		.js-prev-btn {
			top: -15px;
		}
	}	
}
.product_short-desc {
	p {

	}
}
.product-swatch {
	text-transform: uppercase;
	letter-spacing: 1.5px;	
	margin: 20px 0 23px;	
	@include font-14;
	.swatch-title {		
		margin-bottom: 14px;
		@media (min-width: 768px) {
			margin-bottom: 8px;
		}
	}
	.swatch-select {
		display: grid;
		gap: 8px 12px;
		grid-template-columns: repeat(2, 1fr);
		@media (min-width: 768px){
			grid-template-columns: repeat(3, 1fr);
			gap: 6px;
		}
		.input-group {
			margin: 0;
			input {
				display: none;
			}
			label {
				padding: 12px 10px;
				border: 2px solid var(--body-link);
				text-align: center;
				font-size: inherit;
				color: var(--body-link);
				line-height: 20px;
				cursor: pointer;
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				white-space: break-spaces;
				@extend %transition;
			}
			input:checked + label {
				background: var(--body-link);
				color: var(--text-miscellaneous);
			}
		}
	}
}
.product-form {
	.rc-container {
		margin-bottom: 10px;
	}
	.rc-option {
		text-transform: uppercase;
		letter-spacing: 1.5px;	
		@include font-14;
		.rc-title {
			font-size: inherit;
			margin-bottom: 14px;
			@media (min-width: 768px) {
				margin-bottom: 8px;
			}
		}
		.rc-template__legacy-radio {
			display: grid;
			gap: 12px;
			grid-template-columns: calc(50% - (12px * 1/2)) calc(50% - (12px * 1/2));
			.rc-radio {
				padding: 0;
				display: flex;
				flex-direction: column;
				height: 100%;
				.rc_widget__option__selector {
					width: 100%;
					height: 100%;
				}
			}
			.rc-option--active {
				background: none;
			}
			.rc-radio__input {
				display: none;
			}
			.rc-radio__label {
				padding: 12px 15px;
				border: 2px solid var(--body-link);				
				font-size: inherit;
				color: var(--body-link);
				line-height: 20px;
				cursor: pointer;
				margin: 0;
				display: flex;			
				flex-wrap: wrap;				
				align-items: center;
				justify-content: center;
				text-align: center;
				height: 100%;
				width: 100%;				
				white-space: break-spaces;
				@include font-14;
				@extend %transition;				
				.rc-option__price {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
			.rc-radio__input:checked + .rc-radio__label {
				background: var(--body-link);
				color: var(--text-miscellaneous);
			}
		}
		.rc_popup,
		.rc-selling-plans {
			display: none !important;
		}
	}
}
.product-meta-list {
	list-style: none;
	margin: 13px 0 0;
	@media (min-width: 768px) {
		margin-top: 22px;
	}
	li {		
		color: var(--main-color);
		padding: 8px 0;
		a {
			color: inherit;
			display: flex;
			align-items: center;
		}
		.svg-element-ui {		
			margin-right: 8px;
		}		
	}
}
.product-description {
	text-align: center;
	.product_tab-contorls {
		margin-top: 30px;		
		@media (min-width: 768px) {
			margin-top: 68px;
		}
		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			list-style-type: none;
			@media (max-width: 767px) {
				flex-direction: column;
			}
			li {
				margin: 0 50px 30px;
				font-size: var(--heading-size-h4);
				position: relative;
				line-height: 1.5;
				cursor: pointer;
				@media (min-width: 768px) {
					margin-bottom: 0;
				}
				&:after {
					content: '';
					height: 4px;				
					@include ab(n, 0, -10px, 0);
				}
				&.active {
					color: var(--body-link);
					&:after {
						background: var(--body-link);
					}
				}
			}
		}	
	}
	.product_tab-contents {
		max-width: 1100px;	
		margin: 0 auto;			
		.tab-contents {
			background: var(--text-miscellaneous);
			margin: 45px auto 0;
			padding: 5%;
			position: relative;
			@media (min-width: 768px) {
				padding: 55px;
			}
			&:empty {
				display: none;
			}
		}		
		.tab-contents_item {
			width: 100%;
			max-width: 770px;
			margin: 0 auto;			
			z-index: -1;
			transform: translateX(-50%);
			@include ab(0, 50%, n, n);			
			&.active {
				z-index: 1;
				position: static;
				transform: translateX(0%);
			}
		}
	}
}
.section-paragraph-image {
	margin-bottom: 55px;
	@media (min-width: 768px) {
		margin-bottom: 88px;
	}	
	.section-body {
		> div {
			align-items: center;
		}
	}
	.textbox {
		padding: 0 15px;				
		.textbox-inner {
			max-width: 690px;	
			margin-left: auto;	
			padding: 30px 0;	
			&:empty {
				display: none;
			}		
			> * {
				max-width: 570px;
			}
			@media (max-width: 991px) {
				margin-right: auto;		
			}			
		}
	}
	.paragraph-head {
		color: var(--main-color);		
		margin-bottom: 2px;
	}
	.paragraph-subhead {
		font-size: var(--heading-size-h4);
		margin-bottom: 8px;
	}
	.paragraph-diff {
		list-style: none;
		line-height: 1.65;
		padding-left: 20px;
		li {
			position: relative;
			display: flex;
			&:before {
				content: '';
				height: 6px;
				width: 6px;
				flex: 0 0 6px;
				max-width: 6px;
				border-radius: 50%;
				margin: 12px 15px 0 0;
				background: var(--body-color);
			}
		}
	}
}
.section-shop-bundles {
	margin-bottom: 55px;
	@media (min-width: 768px) {
		margin-bottom: 110px;
	}	
}
.section-product-stories {
	margin-bottom: 45px;
	@media (min-width: 768px) {
		margin-bottom: 96px;
	}	
	.product-stories_list {
		@media (max-width: 767px) {
			margin: 0;
		}
	}
}
.product-stories_item {
	.section-header .section-heading {
		padding-left: 15px;
		padding-right: 15px;
	}
	@media (max-width: 767px) {
		padding: 0;
		&:not(:last-child) {			
			border-bottom: 1px solid var(--body-color);		
			&.active {
				.collapse-container {
					padding-bottom: 25px;
				}			
			}	
		}
	}
	.btn-collapse {
		display: flex;
		justify-content: space-between;		
		.name {
			margin: 0;
			padding: 16px 0;
		}
		.svg-angle-up {
			display: none;
		}
		> div {			
			width: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.collapse-container {
		@media (max-width: 767px) {
			max-height: 0;
			visibility: hidden;
			transition: max-height .15s ease-in-out;

		}
	}
	.image {
		margin-bottom: 23px;
		display: none;
		@media (min-width: 768px) {
			margin-bottom: 26px;
			display: block;
		}
	}
	.name {		
		margin-bottom: 4px;	
		font-weight: 700;
		line-height: 1.2;		
		font-size: var(--heading-size-h4);	
		@media (min-width: 768px) {
			margin-bottom: 14px;
			font-size: var(--heading-size-h3);
			color: var(--main-color);
		}
	}
	p {
		margin: 0;
	}	
	@media (max-width: 767px) {
		padding-left: 0;
		padding-right: 0;				
	}
	&.active {
		.btn-collapse {
			.svg-angle-down {
				display: none;
			}
			.svg-angle-up {
				display: block;
			}
		}
		.collapse-container {
			@media (max-width: 767px) {
				max-height: 100%;
				visibility: visible;
				transition: max-height .35s ease-in-out;
	
			}
		}
	}
}	
.review-wrpper {
	margin-bottom: 20px;
	@media (min-width: 768px) {
		margin-bottom: 65px;
	}
}
.stamped-container {
	font-family: var(--ff-body);	
	input.stamped-form-input-email, input.stamped-form-input-text {
		padding: 16px 24px;   
  		border: 2px solid var(--main-color);
		  font-size: calc(var(--body-font-size) + 2px);  
	}
	.stamped-form-label {
		+ .stamped-form-input {

		}
	}
}
.section-product-related {
	margin-bottom: 35px;
	@media (min-width: 768px) {
		margin-bottom: 120px;
	}
}
.section-product-related,
.section-shop-bundles {
	.container {
		@media (max-width: 767px) {
			padding-right: 0;
			.section-header .section-heading {
				padding-left: 15px;
			}
		}
	}
}