/* Contact page */
.page-contact,
.section-testimonial-page,
.section-ambassadors-page,
.section-product-info-page,
.section-product-detail,
.section-subscribe-page {
	background: #e5e5e5;	
	overflow: hidden;
	.image__style {
		img {
			object-fit: cover;
		}
	}
	.section-header {
		.title {
			color: var(--main-color);
			border-top: 4px solid var(--body-link);
			padding: 28px 15px 45px;
			font-weight: 600; 
			h1 {
				font-weight: inherit;	
				@media (max-width: 767px){
					font-size: inherit;
				}
			}			
			@media (max-width: 767px) {
				font-size: var(--heading-size-h2);
				background-color: transparent !important;
			}
			@media (min-width: 768px) {
				border: none;
				padding-bottom: 96px;
				@include ab(n, 0, 0, 0);
			}
		}
		.subheading {
			margin-top: 13px;
			font-weight: 700;
			@media (max-width: 767px) {
				font-size: var(--heading-size-h5);
			}
		}
		+ .container {
			@media (max-width: 767px) {
				padding: 0;
				.section-body {
					> div {
						margin-left: 0;
						margin-right: 0;
						> section {
							padding: 0;							
						}
						.ambassador-item_content,
						.testimonial-item_content {
							padding-left: 24px;
							padding-right: 24px;
						}
					}
				}
			}
		}
	}
}
.page-contact {	
	.section-body {
		padding: 0 0 40px;
		@media (min-width: 768px) {
			padding: 82px 0 90px;
		}
		.title {
			color: var(--main-color);
			margin-bottom: 18px;
			font-size: var(--heading-size-h3);
			@media (min-width: 768px) {
				font-size: var(--heading-size-h2);
			}
		}
	}	
	.info_wrapper {
		max-width: 520px;
	}	
	.page-contact_info {
		@media (max-width: 991px) {
			margin-bottom: 85px;
		}
	}
	.info_body {
		> div {
			&:not(:last-child) {
				margin-bottom: 20px;
				@media (min-width: 768px) {
					margin-bottom: 30px;
				}
			}
		}
		.work-time {
			margin-bottom: 20px;
			@media (min-width: 768px) {
				margin-bottom: 30px;
			}
		}
		.phone {
			@media (max-width: 991px) {
				margin-bottom: 20px;
			}
		}
		.title {
			font-size: var(--heading-size-h4);
			margin-bottom: 0;
			color: var(--body-color);
		}
		p {
			margin: 0;
		}
	}
	.social {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		li {
			&:not(:last-child) {
				margin-right: 30px;
			}
			a {
				svg path {
					fill: var(--body-link);
				}
			}
		}
	}
	.form-group {
		margin-bottom: 20px;
	}
	.form-actions {
		.btn {
			width: 100%;
			@media (min-width: 768px) {
				padding-top: 14px;
				padding-bottom: 14px;
			}
		}
		+ p {
			@include font-14;
			text-align: center;
			color: var(--main-color);
			font-weight: 400;
		}
	}		
}
/* #End Contact page */
/* Testimonials & Our Ambassadors */
.section-testimonial-page,
.section-ambassadors-page {	
	@media (min-width: 768px) {
		padding-bottom: 200px;
	}
}
.section-testimonial-page {
	.tag-list {				
		@media (min-width: 768px) {
			display: flex !important; 			
			margin: 57px -25px 40px;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			.tag-item {
				height: 48px;
				min-width: 180px;
				padding: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 2px solid var(--body-link);
				color: var(--body-link);
				margin: 0 25px 18px;
				@include font-14;
				@include letter-spacing;
				@media (hover : hover) {
					&:hover {
						background: var(--body-link);
						color: var(--text-miscellaneous);
					}
				}
				&.active {
					background: var(--body-link);
					color: var(--text-miscellaneous);
				}
			}
		}		
	}	
	.btn-open-drawer {
		height: 48px;
		min-width: 190px;
		padding: 10px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 2px solid var(--body-link);
		color: var(--body-link);			
		font-size: 12px;
		margin-bottom: 41px;
		@include letter-spacing;
	}
}
.testimonial-list,
.ambassador-list,
.block-ingredients {
	.testimonial-item,
	.ambassador-item,
	.ingredient-item {
		margin-bottom: 45px;
		.testimonial-item_image,
		.ambassador-item_image,
		.image {
			margin-bottom: 30px;
			@media (min-width: 768px) {
				margin-bottom: 28px;
			}
		}
		.title {
			font-size: var(--heading-size-h4);
			margin-bottom: 10px;
			font-weight: 700;
			@media (min-width: 768px) {
				font-size: var(--heading-size-h2);
			}
		}
		.content, .subtext {
			p {
				margin: 0;
			}
		}
	}	
}
.section-instagram-custom {
	background: #e5e5e5;
}
.section-ambassadors-page {
	.section-header {
		@media (min-width: 768px) {
			margin-bottom: 40px;			
		}
	}
}
/* End Testimonials & Our Ambassadors */
/* Product Info Landing Page */
.section-product-info-page {
	.section-header {		
		@media (min-width: 768px) {
			margin-bottom: 120px;
		}
	}
	.product-info-list {		
		grid-template-columns: repeat(1, 1fr);				
		@media (min-width: 768px) {
			padding-bottom: 120px;
			gap: 20px 30px;	
			grid-template-columns: repeat(3, 1fr);						
		}
		@media (min-width: 992px) {
			grid-template-columns: repeat(4, 1fr);						
		}
		.product-info-item {
			&:first-child {				
				@media (min-width: 768px) {
					grid-column-start: 1;
					grid-column-end: 3;
					grid-row-start: 1;
					grid-row-end: 3;	
				}
			}	
			@media (min-width: 992px) {
				&:nth-child(4),
				&:nth-child(5) {
					margin-top: -20px;
				}
			}
			.title {
				color: var(--body-color);
				font-weight: 700;
				font-size: var(--heading-size-h4);
				background: #fff;
				padding: 11px;				
				@media (hover : hover) {
					&:hover {
						color: var(--body-link);
					}
				}
			}
		}
	}
}
/* End Product Info Landing Page */
/* Trumarine Collagen */
.section-product-detail {
	.section-header {
		@media (min-width: 768px) {
			margin-bottom: 65px;
		}
	}
	.block-item {
		p {
			margin: 0;
		}
		&.block-paragraph {						
			.heading {
				margin-bottom: 3px;
			}
			.content-box {
				.image {
					max-width: 128px;
					margin: 0 auto 18px;
				}
				.paragraph {
					max-width: 860px;
					margin: 0 auto;
				}
			}
		}
	}
	.block-paragraph-image,
	.block-ingredients {
		.container {
			@media (max-width: 767px) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}	
	.ingredient-item {
		@media (max-width: 767px) {
			padding-left: 0;
			padding-right: 0;
			.title, .subtext {
				padding-left: 24px;
				padding-right: 24px;
			}
		}
	}
	.block-wrapper {
		.paragraph-image-item {
			align-items: center;
			flex-wrap: wrap;
			> div {
				padding: 0;
			}
			.paragraph {
				padding: 30px 24px 55px;
				@media (min-width: 768px) {
					padding: 30px;					
				}
				@media (min-width: 992px) {
					padding-left: 6%;
					padding-right: 6%;
				}
				> * {
					max-width: 450px;
				}
				.heading {
					margin-bottom: 4px;
					@media (min-width: 768px) {
						margin-bottom: 14px;
					}
				}
				.subtext {
					margin-bottom: 10px;
					@media (min-width: 768px) {
						margin-bottom: 30px;
					}					
				}
				.btn {
					padding: 9px 15px;					
					@include font-14;
				}
			}
		}
		.reverse-order {
			@media (min-width: 768px) {
				.image {
					order: 2;
				}
				.paragraph {
					order: 1;
				}
			}
		}
	}	
	.block-ingredients {
		.block-body {
			flex-wrap: wrap;
		}
		.block-header {
			h2 {
				color: var(--main-color);
				margin-bottom: 13px;
				@media (max-width: 767px) {
					font-size: var(--heading-size-h4);
				}
				@media (min-width: 768px) {
					margin-bottom: 44px;
				}
			}
		}	
	}
	.block-single-image {
		.section-header {
			margin-bottom: 0;
		}
		.block-body {
			.image {
				max-width: 750px;
				padding: 0 15px;
				margin: 0 auto 33px;
			}
		}
		.btn {
			padding: 9px 15px;					
			@include font-14;
		}

	}
	.block-banner {
		.container {
			display: flex;
			height: 100%;
			align-items: center;
			@media (max-width: 767px) {
				text-align: center;
			}

		}
		.title {
			color: var(--main-color);
			margin-bottom: 2px;
			@media (max-width: 767px) {
				font-size: 27px;
				margin-bottom: 8px;
			}
		}
		.subtitle {
			font-size: var(--heading-size-h5);
			margin-bottom: 31px;
			@media (min-width: 786px) {
				font-size: var(--heading-size-h3);
			}
		}
		.btn {
			padding-top: 14px;
			padding-bottom: 14px;
			min-width: 300px;
		}
	}
	.block-featured-products {
		.section-header {
			margin-bottom: 18px;
		}
	}
}
/* End Trumarine Collagen */
/* Subscribe save */
.section-subscribe-page {
	.section-wrapper {
		> .section-header {
			@media (min-width: 768px) {
				margin-bottom: 95px;
			}
		}
	}
	.block-iconbox-list {
		.section-heading {
			margin-bottom: 17px;
			@media (min-width: 768px) {
				margin-bottom: 89px;
			}
		}
		.heading {
			@media (max-width: 767px) {
				font-size: var(--heading-size-h4);
			}
		}
		.iconbox-item {
			margin-bottom: 25px;
			p {
				margin: 0;
			}
			.icon {
				margin-bottom: 10px;
				text-align: center;
				@media (min-width: 768px) {
					margin-bottom: 33px;
				}
				svg {
					display: flex;
					justify-content: center;
					margin: 0 auto;					
				}
			}
			.title {			
				@media (max-width: 767px) {
					font-size: calc(var(--heading-size-h4) - 2px);
				}				
			}			
		}
	}
	.block-paragraph-image {
		.container {
			@media (max-width: 767px) {
				padding: 0;
				.row {
					margin: 0;
					.paragraph {
						padding: 0 34px 46px;
					}
					.image {
						padding: 0;
					}
				}
			}
		}
		.title {
			color: var(--main-color);
			margin-bottom: 15px;
			@media (max-width: 767px) {
				font-size: var(--heading-size-h4);				
			}	
			@media (min-width: 768px) {
				margin-bottom: 21px;
			}
		}
		.paragraph-wrapper {
			.content {
				ol {
					@include font-16;
					@media (min-width: 768px) {
						font-size: var(--heading-size-h4);
					}		
					li {
						padding: 8px 0;
						@media (min-width: 992px) {
							padding: 11px 0;
						}						
					}			
				}
			}
			.btn {
				@include font-14;
				padding-top: 9px;
				padding-bottom: 9px;
				margin-top: 15px;
				@media (min-width: 768px) {
					margin-top: 25px;
				}
			}
		}
	}
	.block-FAQs {
		.section-header .section-heading {
			@media (min-width: 768px) {
				margin-bottom: 55px;
			}
		}
		.FAQs {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px;
			.FAQ-item {
				flex: 0 0 100%;
				max-width: 100%;
				padding: 0 15px;
				margin-bottom: 12px;
				font-size: var(--body-font-size);		
				.question-content {
					padding-right: 10px;
				}		
				@media (min-width: 992px) {
					flex: 0 0 50%;
					max-width: 50%;
					margin-bottom: 14px;
				}
				.question {
					border: 2px solid var(--main-color);
					padding: 14px 21px 14px 15px;
					line-height: 1.4;
					cursor: pointer;
					@media (min-width: 768px) {
						padding: 12px 17px 12px 28px;
					}
					svg {
						flex: 0 0 21px;
						margin-top: 2px;
					}
					&.active {
						border-bottom: none;
					}
				}
				.answer {
					.answer-wrapper {
						padding: 5px 21px 20px 15px;						
						border: 2px solid var(--main-color);
						border-top: none;
						@media (min-width: 768px) {
							padding: 5px 45px 20px 28px;
						}
						p {
							margin: 0;
						}
					}
					&.active {
						height: 100%;
						visibility: visible;
					}
				}				
			}
		}
	}
}
/* End Subscribe save */



/* section-page-storyy */
.section-page-story {
	.section-header {
		min-height: 260px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--text-miscellaneous);
	}
	.page-title {
		font-size: 26px;
		line-height: 40px;
		font-weight: 700;
	}
	.block-wrapper {
		.content {
			p {
				margin: 5px 0 20px;
			}
		}
	}
	.block-single-paragraph {
		.image {
			width: 140px;
			margin: auto;
		}
		h2 {
			margin: 10px 0;
		}
		.block-wrapper {
			max-width: 1000px;
			margin: 0 auto;
		}
		.btn {
			height: 68px;
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
			font-size: 22px;
			letter-spacing: 1px;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.paragraph-image-item {
		h3 {
			margin-bottom: 12px;
		}
		.paragraph {
			max-width: 480px;
			padding: 0 15px;
			margin: 30px auto 0;
		}
		.content {
			font-size: 18px;
			line-height: 30px;
			li {
				list-style: unset;
			}
		}
	}
	.block-featured-products {
		.product-info {
			padding: 0 15px;
			max-width: 600px;
			margin: 0 auto;
		}
		.product-item {
			align-items: center;
		}
		.product-name {
			font-size: 30px;
			line-height: 30px;
			font-weight: 700;
		}
		.product-price {
			margin: 12px 0;
		}
		.product-swatch {
			.swatch-group {
				margin: 0 -7px;
			}
			.swatch-title {
				padding: 0 10px 10px;
			}
			.input-group {
				margin: 0 7px 0;
				label {
					padding: 16px 5px 17px;
					border: 1px solid #D4909A;
					text-transform: uppercase;
					cursor: pointer;
					position: relative;
					@include letter-spacing;
					max-width: 250px;
					min-width: 170px;
					width: 100%;
					text-align: center;
					overflow: hidden;
				}
				input:checked + label {
					background: var(--main-color);
					color: #fff;
				}
				input[disabled] + label {
					color: #BABCBF;
					border-color: #BABCBF;
					pointer-events: none;
					&:before {
						content: "";
						position: absolute;
						left: 50%;
						top: 50%;
						width: calc(100% + 15px);
						height: 1px;
						background-color: #babcbf;
						transform: translate(-50%, -50%) rotate(12.5deg);
					}
				}
			}
			.swatch-select {
				display: flex;
				flex-wrap: wrap;
				input {
					display: none;
				}
			}
		}
		.product-description {
			font-size: 18px;
			line-height: 30px;
			p {
				margin: 22px 0;
			}
			p:empty {
				margin: 0;
			}
		}
		.js-btn-redirect {
			width: 100%;
			padding: 13px 30px 15px;
			font-size: 22px;
			line-height: 30px;
			@include letter-spacing;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 47px;
		}
	}
	.block-paragraphs-with-icons {
		.icon-item {
			padding-top: 20px;
			padding-bottom: 20px;
			.icon {
				max-width: 150px;
				height: 150px;
				padding: 10px;
				margin: 0 auto;
				>svg {
					height: 90px;
				}
			}
			.title {
				margin-top: 25px;
			}
		}
		.block-body {
			padding: 60px 0;
		}
		.paragraphs-icons_item {
			padding: 20px 0;
			font-size: 18px;
			line-height: 30px;
			flex-wrap: wrap;
			.icon {
				max-width: 90px;
				height: 90px; 
				width: 100%;
				padding: 10px;
				margin: 0 auto;
				svg {
					width: 90px;
					height: 90px;
				}
			}
		}
		.icon-list {
			padding: 30px 0;
		}
		.paragraph {
			text-align: center;
			margin-top: 20px;
			p {
				margin: 0;
			}
		}
		@media (min-width: 575px) {
			.paragraphs-icons_item {
				flex-wrap: nowrap;
			}
			.paragraph {
				margin-top: 0;
				padding-left: 20px;
				text-align: left;
			}
		}
	}
	@media (min-width: 992px) {
		.section-header {
			min-height: 680px;
		}
		.page-title {
			font-size: 48px;
			line-height: 60px;
			padding-top: 120px;
		}
		.paragraph-image-item {
			margin-bottom: 90px;
			.paragraph {
				margin-top: 0;
			}
			&.reverse-order {
				.image {
					order: 2;
				}
			}
		}
		.block-featured-products {			
			.product-list {
				>div:nth-child(even) {
					.product-media {
						order: 2;
					}
				}
				>div:not(:last-child) {
					padding-bottom: 60px;
				}
			}
			.product-price {
				margin-bottom: 20px;
			}
			.js-btn-redirect {
				margin-top: 28px;
				margin-bottom: 0;
				max-width: 280px;
			}
		}
		.block-paragraphs-with-icons {
			.icon-list {
				padding: 50px 0;
			}
			.block-body {
				padding: 105px 0 112px;
			}
		}
	}
	@media (min-width: 1200px) {
		.block-paragraphs-with-icons .paragraphs-icons_item {
			padding-right: 80px;
			padding-left: 30px;
		}
	} 
}
/* end section-page-story */

/* section-page-wholesale */
.section-page-wholesale {
	padding: 100px 0;
	background: #fef1e7;
	min-height: 100vh;
	.page-title {
		font-size: 32px;
		line-height: 50px;
		font-weight: 700;
		margin-bottom: 50px;
		color: var(--body-second-color);
	}
	.message-succee {
		color: #ff0000;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 30px;
	}
	.section-wrapper {
		max-width: 800px;
		margin: 0 auto;
		color: var(--body-second-color);
	}
	.form-group {
		margin-bottom: 25px;
		>input {
			background: #fff;
			border: 0;
			height: 56px;
		}
		>label {
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 13px;
		}
	}
	.input-group {
		display: flex;
		align-items: center;
		margin: 12px 0;
		input[type="radio"] {
			padding: 0;
			max-width: 20px;
			width: 100%;
			height: 20px;
			margin-right: 11px;
			border-color: var(--body-second-color);
		}
		input[type="radio"]:checked {
			border-color: #0075ff;
			&:before {
				content: "";
				background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg fill='%230075ff' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath d='M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7 C514.5,101.703,514.499,85.494,504.502,75.496z'/%3E%3C/svg%3E%0A");
				width: 14px;
				height: 14px;
				display: block;
				margin: 2px auto;
			}
		}
		label {
			margin: 0;
			font-size: 18px;
			line-height: 30px;
		}
		.input-other {
			border: 0;
			border-radius: 0;
			margin-left:25px; 
			background: #fff;
		}
	}
	.btn {
		margin-top: 30px;
		height: 68px;
		min-width: 235px;
		text-transform: uppercase;
		@include letter-spacing;
		font-size: 22px;
		line-height: 30px;
	}
	form {
		.row {
			margin: 0 -11px;
			>div {
				padding: 0 11px;
			}
		}
	}
	@media (min-width: 768px) {
		.page-title {
			font-size: 48px;
			line-height: 60px;
		}
	}
	@media (min-width: 992px) {
		.form-group {
			.product_in_stock, .input-list {
				max-width: 50%;
				padding-right: 11px;
			}
		}
	}
}
/* end section-page-wholesale */

/* section-page-store-location */
.section-page-store-location {
	padding: 100px 0;
	background: #fef1e7;
	.page-title {
		font-size: 32px;
		line-height: 50px;
		font-weight: 700;
		margin-bottom: 50px;
		color: var(--body-second-color);
	}
	.map-search {
		background: #EFEFEF;
		padding: 30px 20px;
		margin-bottom: 40px;
		.btn {
			min-width: 200px;
			border-radius: 0;
			background: #646161;
			height: 45px;
			font-size: 18px;
			margin: 10px;
		}
	}
	.map-search_form {
		flex-wrap: wrap;
	}
	.map-search_item {
		margin: 11px;
		input {
			width: 200px;
			height: 45px;
			background: #fff;
			border-radius: 0;
		}
	}
	.title {
		font-size: 18px;
		line-height: 30px;
		padding-right: 20px;
	}
	.select-group {
		position: relative;
		min-width: 105px;
		svg {
			position: absolute;
			right: 10px;
			height: 100%;
			width: 12px;
			pointer-events: none;
		}
		select {
			padding: 0 15px;
			line-height: 45px;
			font-size: 18px;
			background: #fff;
			border-radius: 0;
		}
	}
	.store-list {
		background: #fff;
		padding: 25px;
		height: 100%;
		max-height: 650px;
		overflow-y: auto;
	}
	.store-list::-webkit-scrollbar-track {
		@extend %webkit-scrollbar-track;
	}
	.store-list::-webkit-scrollbar {
		@extend %webkit-scrollbar;
	}
	.store-list::-webkit-scrollbar-thumb {
		@extend %webkit-scrollbar-thumb;
	}
	.store-item {
		margin-bottom: 26px;
		&.active, &:hover {
			svg path {
				fill: var(--main-color);
			}
			.info {
				a {
					transition: unset;
				}
				a, .address {
					color: var(--main-color);
				}
			}
		}
	}
	.svg-location {
		margin-right: 5px;
		margin-top: 4px;
		flex: 0 0 24px;
		max-width: 100%;
	}
	.info {
		font-size: 18px;
		> div {
			line-height: 30px;
		}
		.address {
			cursor: pointer;
		}
	}
	#map {
		height: 650px;
	}
	.map-wrapper {
		position: relative;
	}
	.marker-custom {
		&.active {
			img {
				animation: map-animation 2s infinite;
				animation-timing-function: linear;
			}
		}
	}
	.map-style {
		left: 15px;
		top: 20px;
	}
	.js-map-style {
		padding: 16px 25px;
		margin: 0 5px;
		font-size: 24px;
		text-transform: uppercase;
		background: #fff;
		cursor: pointer;
		&:hover {
			color: var(--main-color);
		}
	}
	.mapboxgl-canvas {
		height: 650px;
	}
	.mapboxgl-popup-content {
		padding: 20px 10px;
		.info {
			>div {
				font-size: 14px;
			}
		}
		.mapboxgl-popup-close-button {
			font-size: 22px;
			padding: 0 7px;
		}
	}
	@media (min-width: 768px) {
		.page-title {
			font-size: 48px;
			line-height: 60px;
		}
	}
	@media (min-width: 1100px) {
		.map-search_form {
			flex-wrap: nowrap;
		}
	}
}
/* end section-page-store-location */

.template-page-testimonials {
	#stamped-reviews-widget {
		padding: 50px 0;
	}	
}