/* Contact page */
.page-contact {	
	.section-body {
		padding: 0 0 40px;
		@media (min-width: 768px) {
			padding: 82px 0 90px;
		}
		.title {
			color: var(--main-color);
			margin-bottom: 18px;
			font-size: var(--heading-size-h3);
			@media (min-width: 768px) {
				font-size: var(--heading-size-h2);
			}
		}
	}	
	.contact-form_heading {
		.title {
			@media (max-width: 767px) {
				text-align: center;
			}
		}
	}	
	.info_wrapper {
		max-width: 520px;
	}	
	.page-contact_info {
		@media (max-width: 991px) {
			margin-bottom: 85px;
		}
	}
	.info_body {
		> div {
			&:not(:last-child) {
				margin-bottom: 20px;
				@media (min-width: 768px) {
					margin-bottom: 30px;
				}
			}
		}
		.work-time {
			margin-bottom: 20px;
			@media (min-width: 768px) {
				margin-bottom: 30px;
			}
		}
		.phone {
			@media (max-width: 991px) {
				margin-bottom: 20px;
			}
		}
		.title {
			font-size: var(--heading-size-h4);
			margin-bottom: 0;
			color: var(--body-color);
		}
		p {
			margin: 0;
		}
	}
	.social {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		li {
			&:not(:last-child) {
				margin-right: 30px;
			}
			a {
				svg path {
					fill: var(--body-link);
				}
			}
		}
	}
	.form-group {
		margin-bottom: 11px;
		@media (min-width: 768px) {
			margin-bottom: 20px;
		}
		input, textarea {
			@media (max-width: 767px) {
				text-align: center;
			}
		}
	}
	.form-actions {
		.btn {
			width: 100%;
			@media (min-width: 768px) {
				padding-top: 14px;
				padding-bottom: 14px;
			}
		}
		+ p {
			@include font-14;
			text-align: center;
			color: var(--main-color);
			font-weight: 400;
			margin: 18px 0 0;
		}
	}		
}
/* #End Contact page */
/* Testimonials & Our Ambassadors */
.section-testimonial-page,
.section-ambassadors-page {	
	@media (min-width: 768px) {
		padding-bottom: 200px;
	}
}
.section-testimonial-page,
.section-faqs-page {
	.tag-list {				
		@media (min-width: 768px) {
			display: flex !important; 			
			margin: 57px -25px 40px;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			.tag-item {
				height: 48px;
				min-width: 180px;
				padding: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 2px solid var(--body-link);
				color: var(--body-link);
				margin: 0 25px 18px;
				@include font-14;
				@include letter-spacing;
				@media (hover : hover) {
					&:hover {
						background: var(--body-link);
						color: var(--text-miscellaneous);
					}
				}
				&.active {
					background: var(--body-link);
					color: var(--text-miscellaneous);
				}
			}
		}		
	}	
	.btn-open-drawer {		
		margin-bottom: 41px;		
		@include btn-open-drawer;
	}
}
.testimonial-list,
.ambassador-list {
	.testimonial-item,
	.ambassador-item {
		margin-bottom: 45px;
		.testimonial-item_image,
		.ambassador-item_image {
			margin-bottom: 30px;
			@media (min-width: 768px) {
				margin-bottom: 25px;
			}
		}
		.title {
			font-size: var(--heading-size-h4);
			margin-bottom: 10px;
			font-weight: 700;
			@media (min-width: 768px) {
				font-size: var(--heading-size-h2);
			}
		}
		.content {
			p {
				margin: 0;
			}
		}
	}	
}
.section-ambassadors-page {
	.section-header {
		@media (min-width: 768px) {
			margin-bottom: 40px;			
		}
	}
}
/* End Testimonials & Our Ambassadors */
/* Product Info Landing Page */
.section-product-info-page {
	.section-header {		
		@media (min-width: 768px) {
			margin-bottom: 100px;
		}
	}
	.product-info-list {		
		grid-template-columns: repeat(1, 1fr);				
		@media (min-width: 768px) {
			padding-bottom: 112px;
			gap: 20px 30px;	
			grid-template-columns: repeat(3, 1fr);						
		}
		@media (min-width: 992px) {
			grid-template-columns: repeat(4, 1fr);						
		}
		.product-info-item {
			&:first-child {				
				@media (min-width: 768px) {
					grid-column-start: 1;
					grid-column-end: 3;
					grid-row-start: 1;
					grid-row-end: 3;	
				}
			}	
			@media (min-width: 992px) {
				&:nth-child(4),
				&:nth-child(5) {
					margin-top: -20px;
				}
			}
			.title {
				color: var(--body-color);
				font-weight: 700;
				font-size: var(--heading-size-h4);
				background: #fff;
				padding: 11px;				
				@media (hover : hover) {
					&:hover {
						color: var(--body-link);
					}
				}
			}
		}
	}
}
/* End Product Info Landing Page */
/* Trumarine Collagen */
.block-item.block-paragraph .content-box {
	.image {
		max-width: 128px;
		margin: 0 auto 18px;
	}	
}
.block-item.block-iconbox-list .section-header,
.block-item.block-paragraph .content-box {	
	p {
		max-width: 860px;
		margin: 0 auto;
		text-align: center;
	}
}
.section-product-detail {	
	.block-item {
		p {
			margin: 0;
		}
		&.block-paragraph {						
			.heading {
				margin-bottom: 3px;
			}
		}
	}		
	.ingredient-item {
		&:not(:last-child) {
			margin-bottom: 29px;
			@media (min-width: 768px) {
				margin-bottom: 0;
			}
		}
		.image {
			margin-bottom: 23px;
			@media (min-width: 768px) {
				margin-bottom: 26px;
			}
		}
		.title {		
			margin-bottom: 4px;	
			@media (min-width: 768px) {
				margin-bottom: 14px;
			}
		}
		@media (max-width: 767px) {
			padding-left: 0;
			padding-right: 0;
			.title {
				font-size: calc(var(--heading-size-h4) - 2px);
			}
			.title, .subtext {
				padding-left: 24px;
				padding-right: 24px;
			}
		}
	}		
	.block-ingredients {
		.block-body {
			flex-wrap: wrap;
		}
		.block-header {
			h2 {
				color: var(--main-color);
				margin-bottom: 20px;
				@media (max-width: 767px) {
					font-size: var(--heading-size-h4);
				}
				@media (min-width: 768px) {
					margin-bottom: 44px;
				}
			}
		}	
	}
	.block-single-image {		
		.section-header {
			margin-bottom: 0;
			.section-heading {
				padding-bottom: 15px;
				@media (min-width: 768px) {
					padding-bottom: 40px;
				}
			}
		}
		.block-body {
			.image {
				max-width: 750px;
				padding: 0 15px;
				margin: 0 auto 33px;
			}
		}
		.btn {
			padding: 9px 15px;					
			@include font-14;
		}

	}	
	.block-featured-products {
		.section-header {
			margin-bottom: 7px;
			@media (min-width: 768px) {
				margin-bottom: 18px;
			}
		}
		.container {
			@media (max-width: 767px) {
				padding-right: 0;
			}
		}
	}
}
.block-banner {
	.container {
		display: flex;
		height: 100%;
		align-items: center;
		@media (max-width: 767px) {
			text-align: center;
		}

	}
	.title {
		color: var(--main-color);
		margin-bottom: 2px;
		@media (max-width: 767px) {
			font-size: 27px;
			margin-bottom: 8px;
		}
	}
	.subtitle {
		font-size: var(--heading-size-h5);
		margin-bottom: 31px;
		@media (min-width: 786px) {
			font-size: var(--heading-size-h3);
		}
	}
	.btn {
		padding-top: 14px;
		padding-bottom: 14px;
		min-width: 300px;
	}
}
.block-wrapper {
	.paragraph-image-item {		
		flex-wrap: wrap;
		@media (min-width: 1200px) {
			align-items: center;
		}
		.image {
			@media (min-width: 768px) and (max-width: 1199px) {
				position: relative;				
				.image__style {
					padding-top: 0% !important;
					position: static !important;
					img {
						object-fit: cover;
					}
				}
			}
		}
		> div {
			padding: 0;
		}
		.paragraph {
			padding: 30px 24px 55px;
			@media (min-width: 768px) {
				padding: 30px;					
			}
			@media (min-width: 992px) {
				padding-left: 6%;
				padding-right: 6%;
			}
			> * {
				max-width: 450px;
			}
			.heading {
				margin-bottom: 4px;
				@media (min-width: 768px) {
					margin-bottom: 14px;
				}
			}
			.subtext {
				margin-bottom: 10px;
				@media (min-width: 768px) {
					margin-bottom: 30px;
				}					
			}
			.btn {
				padding: 9px 15px;					
				@include font-14;
			}
		}
	}
	.reverse-order {
		@media (min-width: 768px) {
			.image {
				order: 2;
			}
			.paragraph {
				order: 1;
			}
		}
	}
}
.block-video {
	.block-wrapper {
		text-align: center;
		.block-body {			
			width: 100%;
			max-width: 870px;
			margin: 0 auto;
			.video-content {
				position: relative;
				width: 100%;
				overflow: hidden;
				padding-top: 66.78%;				
				video {
					width: 100%;
					height: 100%;
					max-width: 100%;
					max-height: 100%;
					@include ab(0, 0, n, n);
				}
			}
			.video-button {
				margin: 30px auto 0;
				text-align: center;
				@media (min-width: 768px) {
					margin-top: 65px;
				}
				.btn {
					@include font-14;
					width: 180px;
					height: 48px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}
.block-paragraph-image,
	.block-ingredients {
		.container {
			@media (max-width: 767px) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
/* End Trumarine Collagen */
/* Subscribe save */
.section-subscribe-page {
	.section-wrapper {
		> .section-header {
			@media (min-width: 768px) {
				margin-bottom: 89px;
			}
		}
	}	
	.block-paragraph-image {
		.container {
			@media (max-width: 767px) {
				padding: 0;
				.row {
					margin: 0;
					.paragraph {
						padding: 0 34px 46px;
					}
					.image {
						padding: 0;
					}
				}
			}
		}
		.title {
			color: var(--main-color);
			margin-bottom: 15px;
			@media (max-width: 767px) {
				font-size: var(--heading-size-h4);				
			}	
			@media (min-width: 768px) {
				margin-bottom: 21px;
			}
		}
		.paragraph-wrapper {
			@media (min-width: 768px) {
				padding-left: 26px;
			}
			.content {
				ol {
					@include font-16;
					@media (min-width: 768px) {
						font-size: var(--heading-size-h4);
					}		
					li {
						padding: 8px 0;
						@media (min-width: 992px) {
							padding: 11px 0;
						}						
					}			
				}
			}
			.btn {
				@include font-14;
				padding-top: 9px;
				padding-bottom: 9px;
				margin-top: 15px;
				@media (min-width: 768px) {
					margin-top: 25px;
				}
			}
		}
	}
	.block-featured-collection {
		.container {
			@media (max-width: 767px) {
				padding-right: 0;
				.section-header .section-heading {
					padding-right: 15px;
				}
			}
		}
	}
}
.block-iconbox-list {
	.section-heading {
		margin-bottom: 4px;
		@media (min-width: 768px) {
			margin-bottom: 59px;
		}
	}
	.heading {
		@media (max-width: 767px) {
			font-size: var(--heading-size-h4);
		}
	}
	.iconbox-item {
		margin-bottom: 25px;
		p {
			margin: 0;
		}
		.icon {
			margin: 0 auto 15px;
			text-align: center;
			max-width: 75px;
			@media (min-width: 768px) {
				margin-bottom: 33px;
				max-width: 100px;
			}
			svg {
				display: flex;
				justify-content: center;
				margin: 0 auto;					
			}
		}
		.title {		
			margin: 0 0 5px;	
			@media (max-width: 767px) {
				font-size: calc(var(--heading-size-h4) - 2px);
			}				
		}			
	}
}
/* End Subscribe save */
/* FAQs */
.section-faqs-subscription {
	.section-header .section-heading {
		@media (min-width: 768px) {
			margin-bottom: 55px;
		}
	}		
}
.section-faqs {
	.faq-content {
		.grid-gap-30 {
			row-gap: 12px;			
			@media (min-width: 768px) {
				row-gap: 14px;
			}
		}
	}
	@include faqs;
	.section-heading_wrapper {
		text-align: center;
		@media (max-width: 767px) {
			margin-left: -15px;
			margin-right: -15px;
		}
		.heading {
			margin-bottom: 18px;
		}
		.image {
			margin: 0 auto;
		}
	}	
}
.section-faqs-page {
	> .section-wrapper > .section-header {
		@media (min-width: 768px) {
			margin-bottom: 37px;
		}
	}	
}
/* End FAQs */
/* Careers */
.section-careers-page {
	> .section-wrapper > .section-header {
		@media (min-width: 768px) {
			margin-bottom: 56px;
		}
	}
	.block-iconbox-list {
		.section-header {
			margin-bottom: 45px;
			@media (min-width: 768px) {
				margin-bottom: 90px;
			}
		}
		.section-heading {
			margin-bottom: 0;
			padding-bottom: 3px;
		}
	}
}
/* End Careers */
/* Our Story */
.section-our-story,
.section-product-detail {
	> .section-wrapper > .section-header {
		@media (min-width: 768px) {
			margin-bottom: 57px;
		}
	}
}
/* End Our Story */




/* section-page-wholesale */
.section-page-wholesale {
	padding: 100px 0;
	background: #fef1e7;
	min-height: 100vh;
	.page-title {
		font-size: 32px;
		line-height: 50px;
		font-weight: 700;
		margin-bottom: 50px;
		color: var(--body-second-color);
	}
	.message-succee {
		color: #ff0000;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 30px;
	}
	.section-wrapper {
		max-width: 800px;
		margin: 0 auto;
		color: var(--body-second-color);
	}
	.form-group {
		margin-bottom: 25px;
		>input {
			background: #fff;
			border: 0;
			height: 56px;
		}
		>label {
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 13px;
		}
	}
	.input-group {
		display: flex;
		align-items: center;
		margin: 12px 0;
		input[type="radio"] {
			padding: 0;
			max-width: 20px;
			width: 100%;
			height: 20px;
			margin-right: 11px;
			border-color: var(--body-second-color);
		}
		input[type="radio"]:checked {
			border-color: #0075ff;
			&:before {
				content: "";
				background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg fill='%230075ff' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath d='M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7 C514.5,101.703,514.499,85.494,504.502,75.496z'/%3E%3C/svg%3E%0A");
				width: 14px;
				height: 14px;
				display: block;
				margin: 2px auto;
			}
		}
		label {
			margin: 0;
			font-size: 18px;
			line-height: 30px;
		}
		.input-other {
			border: 0;
			border-radius: 0;
			margin-left:25px; 
			background: #fff;
		}
	}
	.btn {
		margin-top: 30px;
		height: 68px;
		min-width: 235px;
		text-transform: uppercase;
		@include letter-spacing;
		font-size: 22px;
		line-height: 30px;
	}
	form {
		.row {
			margin: 0 -11px;
			>div {
				padding: 0 11px;
			}
		}
	}
	@media (min-width: 768px) {
		.page-title {
			font-size: 48px;
			line-height: 60px;
		}
	}
	@media (min-width: 992px) {
		.form-group {
			.product_in_stock, .input-list {
				max-width: 50%;
				padding-right: 11px;
			}
		}
	}
}
/* end section-page-wholesale */

/* section-page-store-location */
.section-page-store-location {
	padding: 100px 0;
	background: #fef1e7;
	.page-title {
		font-size: 32px;
		line-height: 50px;
		font-weight: 700;
		margin-bottom: 50px;
		color: var(--body-second-color);
	}
	.map-search {
		background: #EFEFEF;
		padding: 30px 20px;
		margin-bottom: 40px;
		.btn {
			min-width: 200px;
			border-radius: 0;
			background: #646161;
			height: 45px;
			font-size: 18px;
			margin: 10px;
		}
	}
	.map-search_form {
		flex-wrap: wrap;
	}
	.map-search_item {
		margin: 11px;
		input {
			width: 200px;
			height: 45px;
			background: #fff;
			border-radius: 0;
		}
	}
	.title {
		font-size: 18px;
		line-height: 30px;
		padding-right: 20px;
	}
	.select-group {
		position: relative;
		min-width: 105px;
		svg {
			position: absolute;
			right: 10px;
			height: 100%;
			width: 12px;
			pointer-events: none;
		}
		select {
			padding: 0 15px;
			line-height: 45px;
			font-size: 18px;
			background: #fff;
			border-radius: 0;
		}
	}
	.store-list {
		background: #fff;
		padding: 25px;
		height: 100%;
		max-height: 650px;
		overflow-y: auto;
	}
	.store-list::-webkit-scrollbar-track {
		@extend %webkit-scrollbar-track;
	}
	.store-list::-webkit-scrollbar {
		@extend %webkit-scrollbar;
	}
	.store-list::-webkit-scrollbar-thumb {
		@extend %webkit-scrollbar-thumb;
	}
	.store-item {
		margin-bottom: 26px;
		&.active, &:hover {
			svg path {
				fill: var(--main-color);
			}
			.info {
				a {
					transition: unset;
				}
				a, .address {
					color: var(--main-color);
				}
			}
		}
	}
	.svg-location {
		margin-right: 5px;
		margin-top: 4px;
		flex: 0 0 24px;
		max-width: 100%;
	}
	.info {
		font-size: 18px;
		> div {
			line-height: 30px;
		}
		.address {
			cursor: pointer;
		}
	}
	#map {
		height: 650px;
	}
	.map-wrapper {
		position: relative;
	}
	.marker-custom {
		&.active {
			img {
				animation: map-animation 2s infinite;
				animation-timing-function: linear;
			}
		}
	}
	.map-style {
		left: 15px;
		top: 20px;
	}
	.js-map-style {
		padding: 16px 25px;
		margin: 0 5px;
		font-size: 24px;
		text-transform: uppercase;
		background: #fff;
		cursor: pointer;
		&:hover {
			color: var(--main-color);
		}
	}
	.mapboxgl-canvas {
		height: 650px;
	}
	.mapboxgl-popup-content {
		padding: 20px 10px;
		.info {
			>div {
				font-size: 14px;
			}
		}
		.mapboxgl-popup-close-button {
			font-size: 22px;
			padding: 0 7px;
		}
	}
	@media (min-width: 768px) {
		.page-title {
			font-size: 48px;
			line-height: 60px;
		}
	}
	@media (min-width: 1100px) {
		.map-search_form {
			flex-wrap: nowrap;
		}
	}
}
/* end section-page-store-location */
