.section-main-blog {
	> .section-wrapper > .section-header {
		@media (min-width: 768px) {
			margin-bottom: 118px;
		}
	}
	.section-body {
		.blog-toolbar {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 -15px 21px;
			flex-wrap: wrap;			
			> div {
				padding: 0 15px;
				margin-bottom: 13px;
				&.drawer {
					padding: 0;
					margin: 0;
				}
				&.blog-search {					
					@media (min-width: 767px) {
						margin-left: auto;
					}
				}
			}						
			@media (min-width: 768px) {
				margin-bottom: 30px;
				justify-content: space-between;
			}
		}
		.btn-open-drawer {				
			@include btn-open-drawer;
		}
		.blog-filter {			
			align-items: center;		
			@media (min-width: 768px) {
				display: flex !important;
			}
			> span { 
				color: var(--main-color);
				font-size: var(--heading-size-h4);
				padding-right: 55px;
				white-space: nowrap;
			}
			.blog-tags-content {
				position: relative;
				text-transform: uppercase;
				color: var(--body-link);
				width: 220px;				
				@include letter-spacing;
				@include font-14;
				.heading {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border: 2px solid var(--body-link);
					padding: 5px 20px 5px 23px;
					height: 48px;
					color: inherit;
					min-width: 100%;
					cursor: pointer;
					background: var(--text-miscellaneous);
				}
				.svg-element-ui {
					color: inherit;
					svg {
						width: 13px;
					}
				}
				&:hover {
					.blog-tags {
						visibility: visible;
						z-index: 9;
						opacity: 1;
					}
				}
			}
			.blog-tags {
				border: 2px solid var(--body-link);
				border-top: none;								
				min-width: 100%;
				max-height: 330px;
				overflow: hidden;
				overflow-y: auto;
				background: var(--text-miscellaneous);
				visibility: hidden;				
				z-index: -1;		
				opacity: 0;
				@extend %transition;		
				@include ab(100%, 0, n, n);
				li {
					a {						
						font-size: inherit;
						color: inherit;
						display: block;
						position: relative;
						padding: 14px 35px 14px 18px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						word-break: break-word;
						&:after {
							content: '';
							width: 18px;
							height: 18px;
							flex: 0 0 18px;
							max-width: 18px;
							border: 2px solid var(--body-link);
							border-radius: 3px;
							@include ab(14px, n, n, 12px);
						}											
					}
					&.tag--active {
						a {
							&:after {
								background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 8.125L0.75 4.405L1.9425 3.25L4.5 5.7625L10.0575 0.25L11.25 1.435L4.5 8.125Z' fill='%2344C3BF'/%3E%3C/svg%3E%0A");
								background-position: center;
								background-repeat: no-repeat;
							}
						}	
					}
				}
			}
			.blog-tags::-webkit-scrollbar-track {
				@extend %webkit-scrollbar-track;
			}
			.blog-tags::-webkit-scrollbar {
				@extend %webkit-scrollbar;  
			}
			.blog-tags::-webkit-scrollbar-thumb {
				@extend %webkit-scrollbar-thumb;
			}	
		}
		.blog-search {
			form {
				width: 220px;
				display: flex;
				position: relative;				
				input[type="text"] {
					width: 100%;
					height: 48px;
					padding: 8px 20px 8px 40px;
					text-align: right;
					border-color: var(--body-link);
					color: var(--body-link);
					background: var(--text-miscellaneous);
					@include font-14;
					@include placeholder {
						color: var(--body-link);
					}
				}
				button {
					@include ab(0, 0, n, n);
					height: 100%;
					width: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					svg {
						color: var(--body-link);
					}
				}
			}
		}
	}
}
.blog-list {	
	@media (min-width: 768px) {		
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px 25px;
	}	
	.blog-item {
		text-align: center;	
		margin-bottom: 40px;
		@media (min-width: 768px) {
			padding: 0 15px;
			flex: 0 0 50%;
			max-width: 50%;
			margin-bottom: 55px;
		}	
		@media (min-width: 992px) {
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
			&:nth-child(1),
			&:nth-child(2) {
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
		@include blog-item;
	}
}
.page-article {
	padding: 55px 0;
	@media (min-width: 768px) {
		padding-top: 100px;
		padding-bottom: 120px;
		margin: 0 auto;
		max-width: 50%;
	}
	.article-content_header {
		margin-bottom: 30px;
		@media (min-width: 768px) {
			margin-bottom: 40px;
		}
		.image {
			.image__style {
				padding-top: 75% !important;
				@media (min-width: 768px) {
					padding-top: 60% !important;
				}
				img {
					object-fit: cover;
				}
			}
		}
		h1 {
			margin-bottom: 20px;		
			text-align: center;	
			@media (min-width: 768px) {
				margin-bottom: 36px;
				color: var(--main-color);
			}
		}
	}
	.article-content_body {
		.content {
			h1, h2, h3, h4, h5, h6 {
				margin: 25px 0;
			}
			ol, ol li {
				list-style: decimal;
			}
			ul, ul li {
				list-style: disc;
			}
			ul, ol {
				margin-top: 20px;
				margin-bottom: 20px;
				margin-left: 30px;
			}
		}
	}
	.comment-content {
		margin: 35px 0;
		@media (min-width: 768px) {
			margin-top: 50px;
			margin-bottom: 50px;
		}
		.comment-content_title {
			@media (min-width: 768px) {
				font-size: var(--heading-size-h3);
			}
		}
	}
	.form-headline {
		margin-bottom: 20px;
		@media (min-width: 768px) {
			margin-bottom: 30px;
		}
		.title {
			margin-bottom: 15px;
			@media (min-width: 768px) {
				font-size: var(--heading-size-h3);
				margin-bottom: 25px;
			}
		}
	}
	.comment-form {
		.input-group {
			textarea, input {
				color: #6D6E72;
			}
			@media (max-width: 575px) {
				margin-bottom: 10px;
				display: flex;
				input {
					height: 58px;		
				}
				textarea, input {				
					text-align: center;		
					width: 100%;
					background: #fff;
				}
			}			
		}
		.btn-submit {
			.btn {
				@media (max-width: 575px) {
					width: 100%;
					padding-top: 14px;
					padding-bottom: 14px;
				}
			}
		}
		.protected-text {
			color: var(--main-color);
			font-weight: 400;
			margin: 18px 0;
			@media (max-width: 575px) {
				@include font-14;
				text-align: center;
			}
		}
		.grid-gap-30 {
			@media (max-width: 575px) {
				grid-gap: 0;
			}
		}
	}
	.comment-content_wrapper {
		margin-top: 20px;
		@media (min-width: 768px) {
			margin-top: 30px;
		}
	}
	.comment-item {
		&:not(:last-child) {
			margin-bottom: 20px;
			@media (min-width: 768px) {
				margin-bottom: 30px;
			}
		}
		.info {
			.name {
				color: var(--main-color);
			}
		}
	}
}
.btn-infinite {
	background: var(--main-color);
	color: var(--text-miscellaneous);
	height: 45px;
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;  	
	@include font-14;
	@include letter-spacing;
	@media (min-width: 768px) {
	  margin-top: 25px;	  

	}
}