.blog-list {
	.blog-item {
		margin: 0 auto 40px;
		@media (min-width: 768px) {
			margin-bottom: 43px;
		}
		.featured_blog__item {
			text-align: center;
			header {
				margin: 0 auto 19px;
				@media (min-width: 768px) {
					margin-bottom: 35px;
				}
			}
			footer {
				.featured_blog__item-title {
					margin-bottom: 10px;
					color: var(--body-color);
					@media (max-width: 767px) {
						font-size: calc(var(--heading-size-h5) + 2px);
					}
					@media (min-width: 768px) {
						margin-bottom: 14px;
						color: var(--main-color);
					}
					a {
						color: inherit;
					}
				}
				.featured_blog__item-author {
					margin-bottom: 5px;
					@media (max-width: 767px) {
						@include font-16;
					}	
				}
				.featured_blog__item-excerpt {
					@media (max-width: 767px) {
						@include font-16;
					}					
					margin-bottom: 16px;
				}
			}
		}
	}
}
.page-blog {
	.container {
		@media (max-width: 767px) {
			padding: 0;
			.blog-title {
				@include padding-mobile;
			}
			footer {
				@include padding-mobile;
			}
			.row {
				margin: 0;
				> div {
					padding: 0;
				} 
			}
		}
	}
}
#shopify-section-blog-template {
	@media (max-width: 767px) {
		text-align: center;
	}
}