.cart-section  {
	padding: 60px 0;
	@media (min-width: 768px) {
		padding: 100px 0;
	}	
	.cart-empty {
		margin: 0 0 40px;		
		.btn {
			padding: 20px 30px;
			min-width: 250px;
			font-size: 18px;
			@include letter-spacing;
			text-transform: uppercase;
		}
		p {
			margin: 30px 0;
		}
	}
	.cart-title {
		svg {
			width: 40px;
			height: 43px;
		}
		h1 {
			padding: 10px 0 30px;	
			@media (min-width: 768px) {
				margin-bottom: 70px;
			}
		}
	}
	.cart-form { 
		>div {
			margin-top: 30px;
			margin-bottom: 45px;
		}
	}
	.cart-content {
		@media (min-width: 1440px) {
			padding-right: 60px;
		}
	}
	.cart-info {
		.cart-info_template {
			background: var(--text-miscellaneous);
			padding: 60px 24px 30px;
			max-width: 450px;
			width: 100%;
			margin: 0 auto;
			color: #000;
		}
		input {
			height: 56px;
			padding: 0 25px;
			text-transform: uppercase;
		}
		select {
			height: 56px;
			text-transform: uppercase;
		}
		.btn {			
			min-width: 100%;	
			padding-left: 9px;
			padding-right: 9px;		
			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;
		}
		.cart-coupon {
			input {
				margin-right: 10px;
			}
		}		
		.shipping-calculator_form {
			overflow: hidden;
			height: 0;
			opacity: 0;
			visibility: hidden;
			transition: 0.2s all ease-in-out;			
			.form-wrapper {
				padding: 0 0 35px;
			}
			&.is-open {
				visibility: visible;
				opacity: 1;
			}
		}
		.cart-total {
			margin: 0 0 35px;
			align-items: center;
			.title {
				font-size: 21px;
				font-weight: 700;
			}
			.price {
				font-size: 27px;
			}
		}
		.form-group {
			position: relative;
			padding: 10px 0;
			&:last-of-type {
				padding-bottom: 20px;
			}
			>svg {
				@include ab(0,n,n,25px);
				height: 100%;
				display: flex;
				align-items: center;
				width: 14px;
				pointer-events: none;
			}
		}
		.cart-info_title {
			margin: 15px 0 22px;			
			font-weight: 700;
			color: inherit;
		}
		.cart-subtotal {			
			color: inherit;
			.title {
				font-weight: 400;
			}
			.price {
				@include letter-spacing;
			}
		}			
		.shipping-calculator_header {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin: 20px 0;
			> * {
				flex: 0 0 100%;
				max-width: 100%;
			}
			.shipping-calculator_wrapper {
				margin-top: 20px;
			}
			.title {
				font-weight: 400;
			}
		}			
	}	
	.cart-content_table {
		color: #000;
		.cart-items {
			.line-item {
				&:not(:last-child) {
					margin-bottom: 30px;
					@media (min-width: 768px) {
						margin-bottom: 79px;
					}
				}
				.line-item_wrapper {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
				}
				.line-item_headline {					
					flex: 0 0 100%;
					max-width: 100%;
					margin-bottom: 15px;
					@media (min-width: 768px) {
						flex: 1;
						margin-bottom: 0;
					}
				}
				.line-item_quantity {
					flex: 0 0 140px;
					max-width: 140px;
				}
				.line-item_total {
					flex: 1;					
					text-align: right;
					@media (min-width: 768px) {
						flex: 0 0 17%;
						max-width: 17%;
					}
				}
			}
		}
		.image {
			width: 100%;
			max-width: 100px;			
			@media (min-width: 480px) {
				max-width: 160px;			
			}
		}	
		.name {
			font-size: calc(var(--heading-size-h5) - 1px);			
			display: block;			
			color: inherit;		
		}
		.line-item_info {
			padding-left: 6%;
		}
		.option {						
			margin: 5px 0;
			color: var(--body-color);
		}
		.btn-remove {			
			padding-bottom: 3px;			
			color: inherit;
			border-bottom: 1px solid currentColor;
			font-size: var(--heading-size-h5);
			letter-spacing: 2px;  
		}
	}
	.qty-group {
		display: flex;
		align-items: center;
		height: 38px;
		width: 100%;
		max-width: 140px;
		background: #fff;    
		border: none;
		border-bottom: 1px solid var(--body-color);
		color: inherit;
		input {
		  padding: 0;
		  border: 0;
		  height: 38px;
		  text-align: center; 
		  color: inherit;
		  @include letter-spacing;      
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
		>a {
			height: 100%;
			width: 100%;
			max-width: 44px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: inherit;
		}
	}
	.line-item_headline {
		display: flex;
		align-items: center;
	}
	.cart-content_redirect {						
		margin-top: 30px;
		color: #000;
		a {
			color: inherit;
		}
	}		
	@media (min-width: 1200px) {
		.cart-form {
			display: grid;
			grid-gap: 30px;
			grid-template-columns: 1fr minmax(450px,450px);
		}
	}
}
.section-featured-collection {
	.slider-list {
		@media (min-width: 768px) {
			padding-bottom: 20px;
		}
	}
	.section-header .heading {
		color: var(--body-color) !important;
	}
	.container {
		@media (max-width: 767px) {
			padding-right: 0;
		}
	}
}