.collection-title {
	padding: 26px 15px;
	border-top: 4px solid var(--body-link);
	h1 {
		color: var(--main-color);
		@media (max-width: 767px) {
			font-size: var(--heading-size-h2);
		}
	}
}
.filter-container {	
	.filter-options {
		display: none;
		@include ab(n, 0, n, n);
		z-index: 2;
		background: var(--text-miscellaneous);
		width: 100%;
		border: 1px solid var(--body-link);
		border-top: 0;		
		overflow-y: auto;
		max-height: 330px;
	}
	.filter-options::-webkit-scrollbar-track {
		@extend %webkit-scrollbar-track;
	}
	.filter-options::-webkit-scrollbar {
		@extend %webkit-scrollbar;  
	}
	.filter-options::-webkit-scrollbar-thumb {
		@extend %webkit-scrollbar-thumb;
	}
	.filter-item {
		text-transform: uppercase;
		>svg {
			@include ab(50%, n, n, 17px);
			transform: translateY(-50%);
			path {
				stroke: var(--body-link);
			}
		}
	}
	.filter-select {
		height: 40px;
		padding: 5px 15px;
		line-height: 26px;
		cursor: pointer;
		background: var(--text-miscellaneous);
		border: 1px solid var(--body-link);
		@include letter-spacing;
		&.active + .filter-options {
			display: block;
		}
	}
	.option {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 14px 12px 14px 18px;
		color: var(--body-link);
		@include font-14;
		@include letter-spacing;
		label {
			margin-bottom: 0;
			padding-right: 10px;
		}
		input {
			width: 18px;
			height: 18px;
			padding: 0;
			border: 1px solid var(--body-link);
			border-radius: 3px;
		}
		input[type="checkbox"]:checked {			
			&:before {
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 8.125L0.75 4.405L1.9425 3.25L4.5 5.7625L10.0575 0.25L11.25 1.435L4.5 8.125Z' fill='%2344C3BF'/%3E%3C/svg%3E%0A");
				width: 12px;
				height: 9px;
				margin: 3px 0 0 2px;
				display: block;
			}
		}
	}
}
.collection-toolbar_wrapper {	
	padding: 2px 0 35px;	
	@media (min-width: 768px) {
		padding: 54px 0 80px;	
	}	
	.collection-toolbar_item {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;		
		.filter-button,
		.filter-item {			
			margin-bottom: 12px;	
			@media (min-width: 768px) {				
				margin-bottom: 21px;	
			}	
			&:not(:last-child) {
				margin-right: 12px;
				@media (min-width: 768px) {
					margin-right: 30px;
				}
				@media (min-width: 1200px) {
					margin-right: 50px;
				}
			}
		}	
	}
	.filter-button,
	.filter-item,
	.item-filter-mobile {
		position: relative;
		.filter-select,
		.btn,
		.btn-show-filter {
			background: #fff;			
			padding: 8px 18px;	
			min-width: 156px;
			color: var(--body-link);
			height: 48px;
			text-align: center;
			margin: 0;
			text-transform: uppercase;
			font-size: 12px;
			@include letter-spacing;
			@media (min-width: 768px) {
				min-width: 180px;
				@include font-14;
			}			
		}	
		.btn {
			border: 2px solid var(--body-link);
			&:hover {
				@media (hover : hover) {
					background: var(--body-link);
					color: var(--text-miscellaneous);
					svg path {
						stroke: var(--text-miscellaneous);
					}
				}
			}
			&.active {
				background: var(--body-link);
				color: var(--text-miscellaneous);
				box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
				svg path {
					stroke: var(--text-miscellaneous);
				}
			}
		}
		.filter-select {		
			border: 1px solid var(--body-link);
			padding-right: 30px;		
			line-height: 28px;				
			@media (min-width: 768px) {
				min-width: 220px;
				text-align: left;
			}
		}
		.btn-show-filter {
			min-width: 188px;
			border: 2px solid var(--body-link);
			display: flex;
			justify-content: space-between;
			align-items: center;
			span {
				flex: 1;
				text-align: center;
			}
		}
	}
	.sort-by {
		position: relative;
		.svg-arrow {
			@include ab(0, n, n, 0);
			display: flex;
			height: 100%;
			align-items: center;
			pointer-events: none;
		}
	}
}
#col-main {
	margin-bottom: 70px;
	@media (min-width: 768px) {
		margin-bottom: 108px;  
	}
}
#collection-container {	
	grid-gap: 27px 13px;
	@media (min-width: 768px) {
		grid-gap: 100px 30px;
	}
	.product-label .label {
		@media (max-width: 575px) {
			font-size: 7px;
			line-height: 16px;
		}
	}
	.product-card {
		.product-card_body h3 {
			@media (max-width: 767px) {
				font-size: 15px;
			}
		}
		.product-price {
			@media (max-width: 767px) {
				@include font-16;
			}
		}
		.product-card_footer .btn {
			@media (max-width: 767px) {
				height: 40px;
				padding: 7px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 12px;
			}
		}
	}	
}
.filter-form {
	display: none;
}
.drawer-filter {
	&.is-open .drawer_overlay {
		@include fixed(0,0,n,n);
		background: rgba(0, 0, 0, 0.4);
		width: 100%;
		height: 100%;
		@extend %transition;
		z-index: layer(drawer_overlay);
	}
	.drawer-content {
		position: fixed;
		left: -100%;
		top: 0;
		background: var(--body-bg-color);
		height: 100vh;
		width: 100vw;
		max-width: 375px;
		padding: 50px 16px;
		z-index: layer(sidebarDrawer);
		overflow-y: auto;		
		@extend %transition;
	}
	&.is-open {
		.drawer-content {
			left: 0;
		}
	}
	.drawer-head {
		position: relative;
		display: flex; 
		align-items: center;
		justify-content: center;
		padding-bottom: 30px;
		text-transform: uppercase;
		font-size: var(--heading-size-h5);
		font-weight: 700;
		@include letter-spacing;
		.title {
			flex: 1;
			text-align: center;
		}
		a {			
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 30px;
			height: 100%;			
			margin-right: 17px;
		}
		svg {
			width: 13px;
			height: 13px;
		}
	}
	.filter-item {
		border-bottom: 1px solid var(--body-color);
		> a {
			text-transform: uppercase;
			line-height: 30px;
			font-weight: 700;
			padding: 10px 12px 10px 24px;
			color: var(--body-color);
			@include font-14;
			@include letter-spacing;
			svg {
				transition: 0.2s all ease-in-out;
			}
			&.active {
				.svg-angle-down {
					transform: rotate(180deg);
				}
			}
		}
		.pending {
			.filter-item_title {
				display: block;
				font-size: inherit;
			}
			.svg-angle-down {
				display: none;
			}
			.svg-loading {
				width: 24px;
				height: 24px;
			}
		}
	}
	.filter-item_options {
		overflow: hidden;
		height: 0;
		opacity: 0;
		visibility: hidden;
		transition: 0.2s all ease-in-out;
		&.is-open {
			visibility: visible;
			opacity: 1;
		}
	}
	.options-list {		
		padding: 0 0 10px 20px;		
		li {
			padding: 7px 20px;
			text-transform: uppercase;
			@include letter-spacing;
			@include font-14;
		}
		.option {
			display: flex;
			align-items: center;
			input[type="checkbox"] {
				width: 0;
				padding: 0;
				height: 0;
				border: 0;
			}
			input:checked + label {
				color: var(--body-link);				
			}
			label {
				margin: 0;
			}
		}
	}	
}
