.footer {
	margin-top: auto;
}
.footer-widget_item {
	margin: 0 0 30px;
	@media (max-width: 767px) {
		text-align: center;
	}
	a.logo {
		display: inline-flex;
		margin-bottom: 67px;
		img {
			max-width: 100%;
		}
	}
	.social-icons {
		@media (max-width: 767px) {
			justify-content: center;
		}
		li {			
			a {
				display: flex;
			}
			&:not(:last-child) {
				margin-right: 16px;
			}
		}
	}
	.nav-list {
		text-transform: uppercase;
		font-size: calc(var(--body-font-size) - 4px);
		font-weight: 700;
		@include letter-spacing;		
		.nav-item {
			a {
				display: inline-flex;
				line-height: 24px;
				padding: 3px 0;
			}
		}
	}
}