body {
	font-family: Rubik,Roboto,Arial,sans-serif;
	color: #fff;
}
* {
	box-sizing: border-box;
	margin: 0;
}
::placeholder {
	color: #333;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #333;
}
a {
	color: #fff;
}
input {
	border: 0;
	outline: none;
}
li {
	list-style: none;
}
.template-password {
	text-rendering: optimizeLegibility;
	height: 100vh;
	font-size: 14px;
	.image {
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.shopify-link {
		margin-inline-start: 10px;
		svg {
			height: 24px;
			path {
				fill: #fff;
			}
		}
	}
	.content {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
	}
	.form {
		max-width: 500px;
		margin: 0 auto;
		text-align: center;
		padding: 0 15px;
		width: 100%;
	}
	.social-sharing {
		p {
			margin: 30px 0 20px;
		}
	}
	.share-links {
		display: flex;
		justify-content: center;
		padding: 0;
		li {
			margin: 5px 15px;
		}

		svg {
			width: 20px;
			height: 20px;
		}
	}
}
input.input-group-field {
	height: 40px;
	padding: 8px 10px;
	background: #fff;
	width: 100%;
	color: #333;
	appearance: none;
}
.input-group {
	display: flex;
	align-items: center;
	.btn {
		cursor: pointer;
		display: inline-block;
		padding: 5px 20px;
		line-height: 30px;
		background: #fdb819;
		color: #fff;
		border: 0;
	}
}
.form-login {
	display: none;
}
:focus {
	outline: none;
}
label {
	margin-bottom: 20px;
	display: block;
}
.btn-toggle-form {
	position: absolute;
	right: 0;
	top: 0;
	padding: 30px;
	z-index: 6;
	cursor: pointer;
	span {
		display: flex;
		align-items: center;
	}
	.svg-lock {
		width: 13px;
		height: 13px;
		margin-inline-end: 10px;
	}
	.svg-close {
		display: none;
	}
}
.form-heading h2 {
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1.25;
	margin: 0.83em auto;
	color: inherit;
	font-size: 2.5em;
	@media (min-width: 768px) {
		font-size: 4em;
	}
}
.form-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 0;
}
.text-link {
	color: #fdb819;
}
.show-form-login {
	.btn-toggle-form {
		font-size: 0;
		.svg-lock {
			display: none;
		}
		.svg-close {
			display: block;
		}
	}
	.form-sign-up {
		display: none;
	}
	.form-login {
		display: block;
	}
}