/*  Typography -------------------------- */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;  
  font-family: var(--ff-heading);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-heading);
}

b {
  font-weight: 700;
}

h1, .h1 {
  font-size: var(--heading-size-h1);
  font-weight: var(--heading-1-weight);
  line-height: 1.1;
} 

h2, .h2 {
  font-size: var(--heading-size-h2);
  font-weight: var(--heading-2-weight);
  line-height: 1.1;
}

h3, .h3 {
  font-size: var(--heading-size-h3);
  font-weight: var(--heading-3-weight);
  line-height: 1.2;
}

h4, .h4 {
  font-size: var(--heading-size-h4);
  font-weight: var(--heading-4-weight);
}

h5, .h5 {
  font-size: var(--heading-size-h5);
  font-weight: var(--heading-5-weight);
}

h6, .h6 {
  font-size: var(--heading-size-h6);
  font-weight: var(--heading-6-weight);
}

.page-title {
  font-size: var(--heading-size-h1);
  font-weight: var(--heading-1-weight);
}

.section_title-wrapper {
  text-align: var(--section-heading-align);

  &:empty {
    display: none;
  }

  > div:not(:last-child) {
    margin-bottom: var(--gutter-sm);
  }

  .section_title-text-1 {
    color: var(--section-heading-cl);
    font-weight: var(--section-heading-fw);

    svg {
      margin-right: var(--gutter-xs);
    }
  }

  .section_title-text-2 {
    color: var(--section-subheading-cl);
    font-weight: var(--section-subheading-fw);
  }
}

@media (max-width: 767px) {
  .section_title-wrapper > div:not(:last-child) {
    margin-bottom: var(--gutter-xs);
  }
}
