.header-top-bar {
  padding: 30px 0 0;    
  ul {
    li {
      &:not(:last-child) {
        margin-right: 18px;
      }
      a {
        display: flex;
        &:hover {
          @media (hover : hover) {
            color: var(--body-link) !important;
            svg path {
              fill: currentColor;
            }
          }
        }
      }
    }
  }
}
.header-nav {
  position: relative;
  padding-bottom: 17px;  
  .container {
    display: flex;    
    justify-content: center;    
  }
  .banner {
    line-height: 30px;
    @include letter-spacing;
    text-transform: uppercase;
    padding: 12px 15px;
    p {
      margin: 0;
    }
  }
  .header-nav_logo {    
    display: flex;
    justify-content: center;
    margin: 0 30px;       
  }
  .header-nav_left {
    >ul {
      width: 100%;
      justify-content: flex-end;     
    }
  }
  .header-nav_right {
    >ul {
      justify-content: flex-start;
      width: 100%;     
    }
  }
  .nav-list {
    height: 100%;
    >li {
      height: 100%;
    }
  }
  .dropdown-menu::-webkit-scrollbar-track {
    @extend %webkit-scrollbar-track;
  }
  .dropdown-menu::-webkit-scrollbar {
    @extend %webkit-scrollbar;
  }
  .dropdown-menu::-webkit-scrollbar-thumb {
    @extend %webkit-scrollbar-thumb;
  }
  .dropdown-menu {
    @include ab(100%,0,n,0);
    opacity: 0;
    visibility: hidden;
    z-index: 111;
    will-change: transform;
    border-bottom: 1px solid transparent;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    transition: all 0.2s ease-in-out 0s;
    &:after {
      content: '';
      height: 20px;
      @include ab(-18px, 0, n, 0);
    }
    >.menu-list {
      padding: 15px 20px;
    }
    .menu-list {
      li {
        padding: 7px 0;    
        text-transform: uppercase;        
        @include font-14;
        @include letter-spacing;
        &:hover {
          a {
            color: var(--body-link) !important;            
          }
        }   
      }
    }
    .dropdown-menu {
      top: 0;
      left: 100%;
      opacity: 0;
      visibility: hidden;      
    }
  }
  .nav-item {
    display: flex;
    align-items: center;    
    >a {     
     display: block;
     position: relative;
     font-size: calc(var(--body-font-size) - 3px);
     text-transform: uppercase;   
     font-weight: 700;
     @include letter-spacing;
    }
    &:not(.mega-menu) {
      position: relative;
      .dropdown-menu {
        min-width: 240px;
        margin-top: 17px;
        &:before {
          content: '';
          height: 20px;
          @include ab(-18px, 0, n, 0);
        }
      }
    }
    &:not(:last-child) {
      margin-right: 30px;
      @media (min-width: 1200px) {
        margin-right: 55px;
      }      
    }
    &:hover {   
      >.dropdown-menu {
        opacity: 1;
        visibility: visible;        
      }
    }
  }    
}
.mega-menu {
  .top-text-wrapper {
    display: flex;    
    .top-text-inner {
      flex: 1;    
      padding: 16px 0 0;
      text-align: center;
    }
    a {
      color: var(--body-color) !important;
      text-transform: uppercase;
      font-size: var(--heading-size-h4);
    }
  }
  .mega-menu-list {    
    padding: 16px 15px 25px;
    margin: 0 auto;
    max-width: 1440px;
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
    >.text-right {      
      padding: 0 0 20px;
      a {
        display: inline-block;
        font-weight: 700;
        background: #D0EEEE;        
        padding: 5px 20px;
        line-height: 30px;
        @include font-14;
        @include letter-spacing;
        @media (hover : hover) {
          &:hover {
            background: var(--main-color);
            color: var(--text-miscellaneous) !important;
          }
        }
      }
    }
  }
}
.mega-menu-item {
  padding: 20px 10px 30px;
  .title {
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    > a:not(.title-image) {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;     
      margin: 0 -5px;
    } 
    .image__style {
      margin-top: 2px;
      padding-top: 68% !important;
      img {
        object-fit: cover;
      }
    }
  }
  .menu-list {
    padding: 13px 0 0;
    text-transform: uppercase;        
    @include font-14;
    @include letter-spacing;
    &:empty {
      display: none;
    }
    li {
      @media (hover : hover) {
        &:hover {
          color: var(--body-link);
          a {
            color: inherit !important;
          }
        }        
      }
    }
  }
}
.title {  
  font-weight: 700;  
}
.menu-item {
  @extend %transition;
  .dropdown-menu {
    transform: translateX(5px);
  }
  &:hover {
    .dropdown-menu {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}
.header-nav_left, .header-nav_right {  
  flex: 1;  
}
/*search*/
.drawer-search {
  .drawer-wrapper {
    @include fixed(0,n,n,0);
    height: 100%;
    width: 100%;
    max-width: 610px;
    padding: 60px 40px;
    background: var(--body-bg-color);
    @include translateX(100%);
    visibility: hidden;
    opacity: 0;    
    @extend %transition;
    z-index: layer(lazy-drawer-cart);
  }
  &.is-open {
    .drawer-wrapper {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
    .drawer-overlay {
      @include fixed(0,n,n,0);
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,.6);
      z-index: layer(drawer_overlay);
    }
  }
  .btn-close {
    width: 35px;
    height: 35px;
    line-height: 40px;    
    svg {
      width: 14px;
      height: 14px;
    }
  }
  .drawer-header {
    svg {
      fill: currentColor;
    }
  }
  .drawer-title {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-bottom: 30px;
    h3 {
      font-size: var(--heading-size-h5);
      @include letter-spacing;
    }
  }
  .input-group {
    display: flex;
    align-items: center;
    input, button {
      height: 50px;
      line-height: 50px;
    }
    input {
      padding: 10px;      
      border-right: 0;
    }
    button {
      padding: 6px 15px;
      min-width: 55px;
      svg {
        width: 22px;
        height: 22px;
      }
    }
    .svg-loading {
      circle {
        fill: var(--btn1-cl);
      }
    }
  }
  &.drawer-pending {
    .svg-search {
      display: none;
    }
    .svg-loading {
      display: block;
    }
  }
  &.no-result {
    .search-results {
      display: block;
    }
  }
  .search-results .no-result {
    display: none;
  }
  &.no-result {
    .search-results .no-result {
      display: block;
      padding: 20px 0;
    }
  } 
  .tag-list,
  .blog-tags {
    overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 180px);
    li {
      padding: 8px 0;
      text-transform: uppercase;
      @include font-14;
      @include letter-spacing;
      a {
        color: var(--body-color);
      }
      &.active {
        color: var(--body-link);
        a {
          color: inherit;
        }
      }
    }
  } 
}
.results {
  display: none;
  border: 1px solid var(--body-border-color);  
  .btn-view-all {
    display: block;
    text-align: center;
    padding: 10px 15px;
    font-weight: 600;
    color: var(--main-color);
    border-top: 1px solid var(--body-border-color);
    &:hover {
      @media (hover:hover) {  
        text-decoration: underline;
        color: var(--main-color);
      }
    }
  }
  .results-list {
    max-height: calc(100vh - 280px);
  }
  .result-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    .js-link {
      flex: 0 0 85px;
    }
    .info {
      @include padding-start(15px);
      width: 100%;
      .js-title {
        font-weight: 700;
        color: var(--body-color);
        @media (hover : hover) {
          &:hover {
            color: var(--main-color);
          }
        }
      }
      .price {
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }
}

.no-results {
  .no-result {
   display: block;
 }
}
.has-results {
  .results {
    display: block;
  }
}
.has-results {
  .results-list::-webkit-scrollbar-track {
    @extend %webkit-scrollbar-track;
  }
  .results-list::-webkit-scrollbar {
    @extend %webkit-scrollbar;
  }
  .results-list::-webkit-scrollbar-thumb {
    @extend %webkit-scrollbar-thumb;
  }
  .results-list {
    overflow-y: auto;
  }
}

/*end search*/

/* header-mobile */
.header-mobile {
  padding: 10px 0;  
  .header-logo {
    img {
      @media (max-width: 991px) {
        max-width: 146px !important;
      }
    }
  }  
  .header-icons {
    display: flex;
    align-items: center;    
    a {            
      height: 40px;
      display: flex;
      align-items: center;
      &.header-hamburger {
        color: var(--body-link) !important;
        min-width: 23PX;
      }
    }
    .flags-currency {
      display: flex;
      svg {
        width: 22px;
        height: 22px;
      }
    }
    .svg-user {
      width: 21px;
      height: 21px;
    }
    &.left {
      a {
        margin-right: 16px;
      }
    }
    &.right {
      a {
        margin-left: 16px;
      }
    }
  }
  .header-hamburger {
    svg {
      width: 23px;
      height: 23px;
    }
    .svg-close {
      display: none;
      width: 16px;
      height: 16px;
    }
    &.active {
      .svg-hamburger {
        display: none;
      }
      .svg-close {
        display: block;
      }
    }
  } 
  .header-mobile__item {
    @include translateX(-100%);
    @extend %transition;
    background: var(--body-bg-color);
    @include fixed(0,0,0,0);    
    width: 100%;
    z-index: layer(header-mobile__horizontal);
    display: flex;
    flex-direction: column;
    > .btn-close {
      width: 50px;
      height: 50px;
      display: block;
      padding: 13px;
      margin-left: auto;
      margin-right: 14px;
      svg {        
        width: 24px;
        height: 24px;
        path {
          fill: var(--main-color);
        }
      }
    }
    &.is-open {
      @include translateX(0);
    }
  }
  .drawer-body {
    width: 100%;
    height: 100%;    
    padding: 10px 0 80px;
    text-align: center;
    margin: 0 auto;    
    .menu-list {
      width: 100%;
      height: 100%;
      padding: 0 30px;
      overflow: hidden;
      overflow-y: auto;
    }
  }
  .menu-list--sub {
    border-top: 1px solid #eee;
  }
  .menu-item {
    @include font-16;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 36px;
    padding: 6px 0;
    display: flex;
    align-items: center;
    >a {
      display: block;
      flex: 1; 
    }
    &.title {
      color: var(--main-color);
      >a {
        padding-left: 0;
        padding-right: 30px;
      }
      .btn-back {
        justify-content: flex-start;
      }
    }
    .js-toggle-menu {
      padding: 0;
      display: none;
      width: 30px;
      height: 46px;
      justify-content: flex-end;
      align-items: center;
      svg {
        width: 18px;
        height: 18px;
      }
    }
    &.dropdown-submenu {
      .js-toggle-menu {
        display: inline-flex;
      }
      .menu-item_title {
        padding-left: 30px;
      }
    }
  }
  .dropdown-submenu {
    .dropdown-menu {
      @include ab(0,-100%,n,n);
      width: 100%;
      height: 100%;
      padding: 30px 0;
      overflow-y: auto;
      z-index: layer(mobile-dropdown-submenu);
      background: var(--body-bg-color);
      will-change: transform;
      @extend %transition;
    }
      .dropdown-menu {
        &.is-open {
          left: 0;
        }
      }
  }
  .drawer-bottom {           
    @include ab(n,0,0,0);
    z-index: 9;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 5px 15px;
      margin: 0;
      height: 68px;    
      color: var(--btn1-cl) !important;
      background: var(--btn1-bg-cl);
      text-transform: uppercase;
      font-size: var(--heading-size-h5);
    }
  }
}