.section-paragraphs-icons {
	.paragraphs-icons_list {
		@media (max-width: 767px) {
			display: flex;
			flex-wrap: wrap;
			margin-left: -10px;
			margin-right: -10px;
		}
		> * {
			max-width: 630px;	
			margin-left: auto;				
			@media (max-width: 991px) {
				margin-right: auto;		
			}
		}
		@media (min-width: 992px) {
			padding-right: 30px;
		}
		.paragraphs-icons_title {
			color: var(--main-color);
			font-size: var(--heading-size-h4);
			margin-bottom: 30px;
			text-align: center;
			@media (max-width: 767px) {
				flex: 0 0 100%;
				max-width: 100%;
				padding: 0 10px;
			}
			@media (min-width: 768px) {
				font-size: var(--heading-size-h2);
				margin-bottom: 42px;
				text-align: left;
			}
		}
		.paragraphs-icons_item {	
			@media (max-width: 767px) {
				display: block !important;
				text-align: center;
				flex: 0 0 50%;
				max-width: 50%;
				padding: 0 10px;
			}
			.icon {				
				max-width: 73px;				
				margin: 0 auto 17px;
				@media (min-width: 768px) {
					margin: 0 32px 0 0;
					flex: 0 0 73px;
				}
				svg {
					display: flex;
				}
			}
			.paragraph {
				flex: 1;
				p {
					margin: 0;
				}
			}
			&:not(:last-child) {
				margin-bottom: 45px;
			}
		}
		+ .image {
			@media (max-width: 991px) {
				margin-top: 40px;
				margin-bottom: 0;
			}			
		}
	}	
	.image {
		@media (max-width: 991px) {
			margin-bottom: 45px;
		}
		+ .paragraphs-icons_list {
			@media (min-width: 992px) {
				padding-left: 30px;
				padding-right: 0;
			}
		}	
	}
	> .section-wrapper {		
		.paragraphs-icons_list {	
			padding: 0 15px;
			@media (min-width: 992px) {			
				padding-right: 7%;
			}
			@media (min-width: 1440px) {
				padding-left: 0;
				padding-right: 75px;
			}			
			+ .image {
				padding: 0;
				@media (max-width: 991px) {
					margin-bottom: 0 !important;
				}
			}
		}		
		.image {			
			@media (min-width: 992px) {
				padding-right: 15px;			
			}
			+ .paragraphs-icons_list {
				padding: 0 15px;
				max-width: 705px;		
				@media (min-width: 768px) and (max-width: 991px) {
					margin: 0 auto;
				}							
			}
		}			
	}
	.container {
		.paragraphs-icons_list {
			> * {												
				@media (min-width: 992px) {
					margin-left: 0;			
				}
			}			
		}	
		.image + .paragraphs-icons_list {
			@media (min-width: 992px) {
				margin-left: auto;			
			}
		}
	}
}