.section-paragraphs-icons {
	.paragraphs-icons_list {
		@media (min-width: 992px) {
			padding-right: 30px;
		}
		.paragraphs-icons_title {
			color: var(--main-color);
			font-size: var(--heading-size-h4);
			margin-bottom: 30px;
			text-align: center;
			@media (min-width: 768px) {
				font-size: var(--heading-size-h2);
				margin-bottom: 42px;
				text-align: left;
			}
		}
		.paragraphs-icons_item {	
			@media (max-width: 767px) {
				flex-direction: column;
				justify-content: center;
				text-align: center;
			}
			.icon {
				flex: 0 0 73px;
				max-width: 73px;				
				margin-bottom: 17px;
				@media (min-width: 768px) {
					margin: 0 32px 0 0;
				}
				svg {
					display: flex;
				}
			}
			.paragraph {
				flex: 1;
				p {
					margin: 0;
				}
			}
			&:not(:last-child) {
				margin-bottom: 45px;
			}
		}
		+ .image {
			@media (max-width: 991px) {
				margin-top: 40px;
			}
			@media (min-width: 992px) {
				padding-left: 30px;
			}
		}
	}	
}